<dn-toolbar
  [canInsert]="true"
  [canRefresh]="true"
  [displaySettings]="true"
  [title]="lots_title_text"
  [canExit]="isDialog"
  (onCloseBtnClicked)="onCloseClicked($event)"
  (onInsertBtnClicked)="onInsertClicked($event)"
  (onRefreshBtnClicked)="onRefreshClicked($event)"
  (onSettingsBtnClicked)="onSettingsClicked($event)"
></dn-toolbar>
<div class="margin">
  <dn-grid
  #lotsGrid
    [dataSource]="dataSource$|async"
    [columns]="columns"
    [canDisplaySearch]="true"
    (onRowSaving)="onRowSaving($event)"
    (onRowStopEditing)="onRowStopEditing($event)"
    (onRowDelete)="onRowDeleting($event)"
  ></dn-grid>
</div>
