.mat-mdc-dialog-actions.alert-closebtn{
  justify-content: right;
}


.alert-msg {
  white-space: normal;
  word-wrap: break-word;
  max-width: 500px;
  word-break: break-word;
}

mat-dialog-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

mat-dialog-title {
  text-align: center;
}
