<dn-toolbar
  [canInsert]="true"
  [canRefresh]="true"
  [canInsert]="true"
  [isDialog]="false"
  [title]="suppliers_list_title_text"
  (onInsertBtnClicked)="onInsertClicked($event)"
  (onRefreshBtnClicked)="onRefreshClicked($event)"
></dn-toolbar>

    <dn-grid  class="margin" #suppliersGrid
    [dataSource]="suppliersDataSource"
    [columns]="suppliersColumns"
    [canDisplaySearch]="true"
    [enableAddButton]="false"
    [disableLineEditing]="true"
    (onRowSaving)="onSupplierSaving($event)"
    (onRowDelete)="onSupplierDelete($event)"
    (onRowEditing)="onSupplierRowEditing($event)"
    (onRowStopEditing)="onSupplierStopEditing($event)"
    >

    </dn-grid>
