.width-20{
  width:20%;
}
.width-25-with-margin{
  width:25%;
  margin-right:5%;
}
.width-80{
  width:80%;
}
.customer-details{
  display:flex;

  width:100%;
}

.flexbox{
  display:flex;

}
.width-35{
  width:35%
}
.width-50{
  width:50%
}
.width-45{
  width:45%
}
.example-form {

  width: 95%;
  margin:2.5%;
  margin-bottom: 2%
}

.example-full-width {
  width: 100%;
}

.example-spacer {
  flex: 1 1 auto;
}




    .margin-5{
      margin-right:5%
    }

    .position{
      position: absolute;
      top:5%;
      right:0%
    }

    .margin{
      margin-bottom:4%;
      margin-right:4%;
      margin-left:4%;
    }
    .button-add-row {
      background: #1b9e1b;
      color: #ffffff!important;
    }

    .table-header {
      width: 90%;
      text-align: right;
      margin-bottom: 10px;
    }

    :host ::ng-deep .mat-form-field-label {
      background: white;
  }


  ::ng-deep .white-input .mat-mdc-text-field-wrapper{
    background: white!important;


}
.width-100{
      width: 100%;
}
.width-95{
  width:95%
}

.description{
  width:95%;
  margin-right:5%;
}
.margin{
  margin-bottom:4%;
  margin-right:4%;
  margin-left:4%;
}
.mat-column-buttons {
  text-align: right;
}
.tab-1, .tab-2, .tab-3,.tab-4{
  margin-top: 3%;
}
.tab1-grid{
  display: grid;
  grid-template-areas:
  "a a c d"
  "e f g d"
  "i j h d"
  "m m o p"
  "m m q r";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap:2 rem;
}
.tab1-grid-a-name{
  grid-area: a;
  gap:2rem;
  width:95%;
}

.tab1-grid-e-sku{
  grid-area: e;
  gap:2rem;
  width:90%;
}

.tab1-grid-f-brand{
  grid-area: f;
  gap:2rem;
  width:90%;
}

.tab1-grid-i-price{
  grid-area: i;
  gap:2rem;
  width:90%;
}

.tab1-grid-j-discount{
  grid-area: j;
  gap:2rem;
  width:90%;
}

.tab1-grid-m-description{
  grid-area: m;
  gap:2rem;
  width:95%;
}

.tab1-grid-c-image-path{
  grid-area: c;
  gap:2rem;
  width:90%;
}
.tab1-grid-d-image{
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: d;
  gap:2rem;
  width:90%;
  height:300px;
  border: 2px solid darkgrey;
}

.image{
  position: relative;
  width: inherit;
  height: inherit;
}
::ng-deep .green-snackbar .mdc-snackbar__surface {
  background-color:#1b9e1b!important;
  color: white;
}

