<dn-toolbar
  [canInsert]="true"
  [canRefresh]="true"
  [isDialog]="false"
  [title]="accounts_payable_list_text"
  (onInsertBtnClicked)="onInsertClicked($event)"
  (onRefreshBtnClicked)="onRefreshClicked($event)"
></dn-toolbar>
<div class="accounts-payable-list">
  <dn-grid
    #accountsPayable
    [dataSource]="dataSource"
    [columns]="columns"
    [canDisplaySearch]="true"
    [canDelete]="false"
    [canEdit]="false"
    [showInfo]="true"
    (onInfoButtonClicked)="onInfoBtnClicked($event)"
  >
  </dn-grid>
</div>
