<dn-toolbar
  [canInsert]="true"
  [canRefresh]="true"
  [isDialog]="false"
  [title]="users_list_text"
  (onInsertBtnClicked)="onInsertClicked($event)"
  (onRefreshBtnClicked)="onRefreshClicked($event)"
></dn-toolbar>

<div class="margin">
    <dn-grid  #usersGrid
    [dataSource]="dataSource$ | async"
    [columns]="columns"
    [canDisplaySearch]="true"
    [enableAddButton]="false"
    [canDelete]="true"
    (onRowEditing)="editUser($event)"
    (onRowDelete)="deleteUser($event)"
    >
    </dn-grid>
</div>
