<dn-toolbar
  [canInsert]="true"
  [canRefresh]="true"
  [isDialog]="false"
  [title]="document_types_list_title_text"
  (onInsertBtnClicked)="onInsertClicked($event)"
  (onRefreshBtnClicked)="onRefreshClicked($event)"
></dn-toolbar>
<div class="margin">
  <dn-grid
    class="margin"
    #documentTypesGrid
    [dataSource]="documentTypesDataSource"
    [columns]="documentTypesColumns"
    [canDisplaySearch]="true"
    [enableAddButton]="false"
    (onRowSaving)="onDocumentTypeSaving($event)"
    (onRowDelete)="onDocumentTypeDelete($event)"
    (onRowStopEditing)="onDocumentTypesStopEditing($event)"
  >
  </dn-grid>
</div>
