<div cdkDropListGroup class="flex">
  @for(column of getColumns();track column.Id){
  <div class="kanban-column mr-2">
    <div
      class="center column-header"
      [style]="
        'background-color:' +
        columnTitleBackgroundColor +
        ';color:' +
        columnTitleColor
      "
    >
      <span style="font-size: 14px!important;">{{ column.Name }}</span>
    </div>
    <div class="tasks">
      <div
        cdkDropList
        class="column-list"
        [cdkDropListData]="filterItems(column)"
        (cdkDropListDropped)="drop($event)"
      >
        @for(item of filterItems(column);track item.Id){
        <div
          cdkDrag
          [cdkDragData]="item"
          class="column-item flex"
          style="background-color: #fafafa"
        >
          <div
            class="item-left-vertical-line"
            [ngStyle]="{
              'background-color': item.PriorityColor
                ? item.PriorityColor
                : 'grey'
            }"
            style="width: 5px"
          ></div>
          <div class="width-100 flex flex-d-column" style="flex-grow: 1">
            <div
              style="
                display: flex;
                flex-grow: 0;
                justify-content: space-between;
                align-items: center;
              "
            >
              <div>
                <b>{{ item.Title }}</b>
              </div>
              <div>
                <button
                mat-button
                color="primary"
                style="border: none;min-width: 15px;"
              >
                <fa-icon [icon]="faEdit"></fa-icon>
              </button>
                <button
                  mat-button
                  color="warn"
                  style="border: none;min-width: 15px;"
                >
                  <fa-icon [icon]="faTrash"></fa-icon>
                </button>
              </div>
            </div>
            <div style="flex-grow: 1">
              <p>{{ item.Descr }}</p>
            </div>
            <div class="user-assigned" style="margin-top: auto; flex-grow: 0">
              <span>admin</span>
            </div>
          </div>
        </div>
        }
      </div>
    </div>
  </div>
  }
</div>
