@if(items){
<div cdkDropListGroup class="flex">
  @for(column of columns();track column.Id){
  <div class="kanban-column mr-2">
    <div
      class="center column-header"
      [style]="
        'background-color:' +
        columnTitleBackgroundColor +
        ';color:' +
        columnTitleColor
      "
    >
      <span style="font-size: 14px !important">{{ column.Name }}</span>
    </div>
    <div class="tasks">
      <div
        [id]="column.Id"
        cdkDropList
        class="column-list"
        [cdkDropListData]="columnItemsMap[column.Id]"
        (cdkDropListDropped)="drop($event)"
      >
        @for(item of columnItemsMap[column.Id];track item.Id){
        <div
          cdkDrag
          [cdkDragData]="item"
          class="column-item flex"
          style="background-color: #fafafa;"
          (click)="onItemClick(item)"
        >
          <div
            class="item-left-vertical-line"
            [ngClass]="
              item[colorField()]
                ? 'priority-' + item[colorField()]
                : 'priority-0'
            "
            style="width: 5px;"
          ></div>
          <div class="card width-100 flex flex-d-column" style="flex-grow: 1">
            <div class="title-container">
              <div
                #itemTitle
                class="item-title"
                [id]="item.Id"
                [matTooltip]="
                  isTitleOverflowing(item.Id) ? item[titleExpr()] : ''
                "
              >
                {{ item.SerialNumber + ' - ' + item[titleExpr()] }}
              </div>
              <div>
                <button
                  mat-button
                  color="primary"
                  style="border: none; min-width: 15px"
                  (click)="onItemEditBtnClick(item)"
                >
                  <fa-icon [icon]="faEdit"></fa-icon>
                </button>
                <button
                  mat-button
                  color="warn"
                  style="border: none; min-width: 15px"
                  (click)="onItemDeleteBtnClick(item)"
                >
                  <fa-icon [icon]="faTrash"></fa-icon>
                </button>
              </div>
            </div>
            <div
              class="item-descr"
              [matTooltip]="
                isDescrOverflowing(item.Id)
                  ? stripHtml(item[itemDescriptionExpr()])
                  : ''
              "
            >
              <div #itemDescr class="truncate-descr" [id]="item.Id">
                {{ stripHtml(item[itemDescriptionExpr()]) }}
              </div>
            </div>
            <div class="user-assigned">
              <span class="circle">{{ userInitials }}</span>
            </div>
          </div>
        </div>
        }
      </div>
    </div>
  </div>
  }
</div>
}
