.number-box ::ng-deep  .mat-mdc-form-field-infix{
  padding: 0!important;
}


.number-box ::ng-deep  .mat-mdc-form-field{
  height:45px!important;
}

.number-box ::ng-deep  .mat-mdc-text-field-wrapper, .mdc-text-field{
  height:45px!important;
}

.number-box ::ng-deep .mat-mdc-input-element{
  margin-top:19px;
}

/* Hide Arrows */
.hide-arrows::-webkit-outer-spin-button,
.hide-arrows::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.hide-arrows {
    -moz-appearance: textfield;
}

::ng-deep .number-box-flex-row{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.number-box-icon{
  font-size: 18px;
  display: flex;
  align-items: center;
  padding-top:6px;
  color: #0B6AA5!important;

}

.number-box-icon:hover{
  cursor: pointer;
}
