<dn-toolbar
[canDelete]="true"
[canRefresh]="customerId?true:false"
[canExit]="true"
[canSave]="true"
[isDialog]="false"
[title]="customer_text"
[entityId]="customer.Id"
(onCloseBtnClicked)="onCloseClicked($event)"
(onDeleteBtnClicked)="onDeleteClicked($event)"
(onSaveBtnClicked)="onSaveClicked($event)"
(onRefreshBtnClicked)="onRefreshClicked($event)"

></dn-toolbar>
<!-- TODO add isDialog variable  -->
<div class="form" (submit)="onSaveClicked($event)">
  <div class="basic-info-contact">
    <div>
      <div class="info-categories">
        <b>Contact Info</b>
      </div>
      <br />
      <div>
        <div>
          <mat-form-field class="name">
            <mat-label>Name</mat-label>
            <input matInput name="Name" [(ngModel)]="customer.Name" />
          </mat-form-field>
        </div>
        <!-- <mat-form-field>
          <mat-label>Surname</mat-label>
          <input matInput name="surname" [(ngModel)]="customerSurname"   required/>
        </mat-form-field>-->
        <br />
        <br />
        <div>
          <mat-form-field class="phone1">
            <mat-label>Phone 1</mat-label>
            <input matInput name="phone1" [(ngModel)]="customer.Phone1" />
          </mat-form-field>
          <mat-form-field class="phone2">
            <mat-label>Phone 2</mat-label>
            <input matInput name="phone2" [(ngModel)]="customer.Phone2" />
          </mat-form-field>
        </div>
        <br />
        <br />
        <div>
          <mat-form-field class="email">
            <mat-label>Email</mat-label>
            <input matInput name="email" [(ngModel)]="customer.Email" />
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
  <div class="addresses">
    <div class="info-categories">
      <b>Addresses</b>
    </div>
    <br />
    <div>
      <mat-form-field class="address">
        <mat-label>Address</mat-label>
        <input matInput name="address" [(ngModel)]="customer.Address" />
      </mat-form-field>

      <mat-form-field class="region">
        <mat-label>Region</mat-label>
        <input matInput name="region" [(ngModel)]="customer.Region" />
      </mat-form-field>
      <br />
      <br />
      <mat-form-field class="city">
        <mat-label>City</mat-label>
        <input matInput name="city" [(ngModel)]="customer.City" />
      </mat-form-field>
      <mat-form-field class="postal-code">
        <mat-label>Postal Code</mat-label>
        <input matInput name="postalcode" [(ngModel)]="customer.PostalCode" />
      </mat-form-field>
      <br />
      <br />
      <mat-form-field class="country">
        <mat-label>Country</mat-label>
        <input matInput name="country" [(ngModel)]="customer.Country" />
      </mat-form-field>
    </div>
  </div>
  <br /><br /><br /><br />
</div>
<div class="form">
  <div class="invoice-info">
    <div class="info-categories">
      <b>Invoice Info</b>
    </div>
    <br />
    <div>
      <mat-form-field class="vat-number">
        <mat-label>Vat Id</mat-label>
        <input matInput name="vatid" [(ngModel)]="customer.VatNumber" (input)="onVatIdValueChanged($event)" />
      </mat-form-field>
      <mat-form-field class="tax-office">
        <mat-label>Vat Id</mat-label>
        <input matInput name="taxoffice" [(ngModel)]="customer.TaxOffice" />
      </mat-form-field>
    </div>
  </div>
</div>
