<dn-toolbar
  [canExit]="true"
  [title]="new_password_text"
  (onCloseBtnClicked)="onCloseClicked($event)"
></dn-toolbar>
<form [formGroup]="form" class="form">
  <div>
    <div class="new-password">
      <dn-textbox
        label="New Password"
        formControlName="newPassword"
        type="password"
      >
      </dn-textbox>
      @if(isTouchedOrInvalid(form,'newPassword') &&
      form.get('newPassword')!.hasError('required')){
      <mat-error> <small>Password is required</small></mat-error>

      }
      @if(isTouchedOrInvalid(form,'newPassword') &&
      form.get('newPassword')!.hasError('minlength')){
      <mat-error> <small>Password must be at least 6 characters long</small></mat-error>

      }
    </div>
    <div class="confirm-new-password">
      <dn-textbox
        label="Confirm Password"
        formControlName="confirmNewPassword"
        type="password"
        (valueChange)="onCofirmPasswordValueChange($event)"
      >
      </dn-textbox>
      @if(displayNotMatchError){
      <mat-error> <small>Passwords are not the same</small></mat-error>

      }
    </div>
  </div>
  <div class="center">
    <button
      type="submit"
      mat-raised-button
      cdkFocusInitial
      (click)="onSubmitPassWordChange($event)"
    >
      Set Password
    </button>
  </div>
</form>
