<dn-toolbar
  [canExit]="true"
  [canSave]="false"
  [canInsert]="true"
  [canRefresh]="true"
  [isDialog]="false"
  [title]="connector_receive_transfer_text"
  (onCloseBtnClicked)="onCloseBtnClicked($event)"
  (onInsertBtnClicked)="onInsertBtnClicked($event)"
  (onRefreshBtnClicked)="onRefreshBtnClicked($event)"
></dn-toolbar>

<div class="grid margin">
<div class="grid-a-receive">
  <h1>Receive</h1>
<mat-card *ngFor="let receiveJob of receiveConnectorJobs let i = index"  class="card" appearance="outlined"(click)="onJobClick(receiveJob)">
  <mat-card-header>
    <div class="icon-margin">
      @if(receiveJob.Icon){
      <fa-icon
        [icon]="receiveJob.Icon=='wordpress'?faWordpress:faWordpress"
        style="color: #21759b"
        size="5x"
      ></fa-icon>
    }
    </div>
    <mat-card-title-group>
      <mat-card-title>
        {{i+1}}. {{receiveJob.Name}}</mat-card-title>
      <mat-card-subtitle>{{receiveJob.Description}}</mat-card-subtitle>
    </mat-card-title-group>
  </mat-card-header>

</mat-card>

</div>

<div class="grid-b-transfer">
  <h1>Transfer</h1>
  <mat-card *ngFor="let transferJob of transferConnectorJobs let i = index"  class="card" appearance="outlined" (click)="onJobClick(transferJob)">
    <mat-card-header>
      <div class="icon-margin">
        <fa-icon
          [icon]="transferJob.Icon=='wordpress'?faWordpress:faWordpress"
          style="color: #21759b"
          size="5x"
        ></fa-icon>
      </div>
      <mat-card-title-group>
        <mat-card-title>
          {{i+1}}. {{transferJob.Name}}</mat-card-title>
        <mat-card-subtitle>{{transferJob.Description}}</mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>

  </mat-card>

</div>

</div>
