<dn-toolbar
  [canExit]="true"
  [canSave]="false"
  [canInsert]="true"
  [isDialog]="false"
  [title]="connector_receive_transfer_text"
  (onCloseBtnClicked)="onCloseBtnClicked($event)"
  (onInsertBtnClicked)="onInsertBtnClicked($event)"
></dn-toolbar>

<div class="grid margin">
<div class="grid-a-receive">
  <h1>Receive</h1>
<mat-card class="card" appearance="outlined">
  <mat-card-header>
    <div class="icon-margin">
      <fa-icon
        [icon]="faWordpress"
        style="color: #21759b"
        size="5x"
      ></fa-icon>
    </div>
    <mat-card-title-group>
      <mat-card-title>
        1. Get Products</mat-card-title>
      <mat-card-subtitle>Receive Products from WooCommerce</mat-card-subtitle>
    </mat-card-title-group>
  </mat-card-header>

</mat-card>
<mat-card class="card" appearance="outlined">
  <mat-card-header>
    <div class="icon-margin">
      <fa-icon
        [icon]="faWordpress"
        style="color: #21759b"
        size="5x"
      ></fa-icon>
    </div>
    <mat-card-title-group>
      <mat-card-title>
        2. Get Categories</mat-card-title>
      <mat-card-subtitle>Get categories from WooCommerce</mat-card-subtitle>
    </mat-card-title-group>
  </mat-card-header>

</mat-card>
<mat-card class="card" appearance="outlined">
  <mat-card-header>
    <div class="icon-margin">
      <fa-icon
        [icon]="faWordpress"
        style="color: #21759b"
        size="5x"
      ></fa-icon>
    </div>
    <mat-card-title-group>
      <mat-card-title>
        3. Get Attributes</mat-card-title>
      <mat-card-subtitle>Get attributes from WooCommerce</mat-card-subtitle>
    </mat-card-title-group>
  </mat-card-header>

</mat-card>
<mat-card class="card" appearance="outlined">
  <mat-card-header>
    <div class="icon-margin">
      <fa-icon
        [icon]="faWordpress"
        style="color: #21759b"
        size="5x"
      ></fa-icon>
    </div>
    <mat-card-title-group>
      <mat-card-title>
        4. Get Terms</mat-card-title>
      <mat-card-subtitle>Get terms from WooCommerce</mat-card-subtitle>
    </mat-card-title-group>
  </mat-card-header>

</mat-card>
</div>

<div class="grid-b-transfer">
  <h1>Transfer</h1>
  <mat-card class="card" appearance="outlined">
    <mat-card-header>
      <div class="icon-margin">
        <fa-icon
          [icon]="faWordpress"
          style="color: #21759b"
          size="5x"
        ></fa-icon>
      </div>
      <mat-card-title-group>
        <mat-card-title>
          1. Post Products</mat-card-title>
        <mat-card-subtitle>Send products to WooCommerce</mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>

  </mat-card>
  <mat-card class="card" appearance="outlined">
    <mat-card-header>
      <div class="icon-margin">
        <fa-icon
          [icon]="faWordpress"
          style="color: #21759b"
          size="5x"
        ></fa-icon>
      </div>
      <mat-card-title-group>
        <mat-card-title>
          2. Post Customers </mat-card-title>
        <mat-card-subtitle>Send customers to WooCommerce</mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>

  </mat-card>

</div>

</div>
