<mat-form-field class="select-box" [class]="'width-' + width">
  <mat-label>{{ label }}</mat-label>
  <input
    matInput
    [type]="inputType"
    [placeholder]="placeholder"
    [name]="name"
    [(ngModel)]="value"
    [matAutocomplete]="auto"
  />
  <mat-autocomplete
    #auto="matAutocomplete"
    (optionSelected)="onSelection($event.option.value)"
    [displayWith]="display.bind(this)"
  >
    <mat-option
      *ngFor="let option of dataSource; trackBy: optionsTrackBy.bind(this)"
      [value]="option"
    >
    {{ option[displayExpr] }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
