.text-box ::ng-deep  .mat-mdc-text-field-wrapper, .mdc-text-field{
  border-radius: 10px;
  }

.text-box ::ng-deep  .mat-mdc-form-field-infix{
  padding: 0!important;
}


.text-box ::ng-deep  .mat-mdc-form-field{
  height:45px!important;
}

 .text-box ::ng-deep  .mat-mdc-text-field-wrapper, .mdc-text-field{
  height:45px!important;
}

.text-box ::ng-deep .mat-mdc-input-element{
  margin-top:19px;
}


::ng-deep .text-box-flex-row{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.text-box-icon{
  font-size: 18px;
  display: flex;
  align-items: center;
  padding-top:6px;
  color: #0B6AA5!important;

}

.text-box-icon:hover{
  cursor: pointer;
}

::ng-deep .mat-mdc-form-field-subscript-wrapper{
  display: none;
  }

