.buttons{
  text-align: right;
}

.cancel-button{
  width:40%;
  height:30px;
  margin-right: auto;
  margin-left: auto;

}
.confirm-button{
  width:40%;
  height:30px;
  margin-right: auto;

  margin-left: auto;

}
/* .cancel-button{
  background-color:#DE005D;
  color: white;
}
.confirm-button{
  background-color:green;
  color: white;

} */
