<dn-toolbar
  [canDelete]="true"
  [canRefresh]="documentId ? true : false"
  [canExit]="true"
  [canSave]="true"
  [canPrint]="true"
  [isDialog]="false"
  [title]="document_text"
  [entityId]="document.Id"
  (onCloseBtnClicked)="onCloseClicked($event)"
  (onDeleteBtnClicked)="onDeleteClicked($event)"
  (onSaveBtnClicked)="onSaveClicked($event)"
  (onRefreshBtnClicked)="onRefreshClicked($event)"
  (onPrintBtnClicked)="onPrintClicked($event)"
></dn-toolbar>
@if(document && columns){
<form class="form">
  <mat-tab-group>
    <mat-tab label="Basic Info">
      <div class="tab-1">
        <div class="tab1-grid">
          <div class="grid-a-doctype-series">
            <dn-selectbox
              class="doc-type"
              [dataSource]="docTypes"
              valueExpr="Id"
              displayExpr="Abbreviation"
              label="Doc. Type"
              [width]="45"
              [(value)]="document.DocumentTypeId"
            >
            </dn-selectbox>

            <dn-selectbox
              class="doc-series"
              [dataSource]="docTypes"
              valueExpr="Id"
              displayExpr="Abbreviation"
              label="Doc. Series"
              [width]="45"
              [(value)]="document.DocumentTypeId"
            >
            </dn-selectbox>
          </div>
          <dn-date-box
            class="grid-b-docdate"
            name="DocumentDateTime"
            [(value)]="document.DocumentDateTime"
            label="Date"
            [width]="100"
          >
          </dn-date-box>

          @if(this.documentGroup == 1){
          <dn-selectbox
            class="grid-c-customer-supplier"
            [width]="100"
            label="Customer"
            name="Customer"
            placeholder="Select a Customer"
            [(value)]="document.CustomerId"
            [dataSource]="customers"
            valueExpr="Id"
            displayExpr="Name"
          ></dn-selectbox>
          } @if(this.documentGroup == 2){
          <dn-selectbox
            class="grid-c-customer-supplier"
            [width]="100"
            label="Supplier"
            name="Supplier"
            placeholder="Select a Supplier"
            [(value)]="document.SupplierId"
            [dataSource]="suppliers"
            (valueChange)="onSupplierValueChange($event)"
            valueExpr="Id"
            displayExpr="Name"
          ></dn-selectbox>
          }

          @if(document.WarehouseId){<dn-selectbox
          class="grid-d-warehouse"
          name="warehouse"
          [dataSource]="warehousesList"
          valueExpr="Id"
          displayExpr="Name"
          [(value)]="document.WarehouseId"
          label="Warehouse"
          [width]="100"
        >
          </dn-selectbox>
        }
          <dn-textbox
            class="grid-g-customerphone"
            name="phone"
            [(value)]="document.CustomerPhone1"
            label="Phone"
            [width]="100"
          >
          </dn-textbox>
          <dn-selectbox
            class="grid-e-vatClasses"
            [dataSource]="vatClassesList"
            valueExpr="Id"
            displayExpr="Name"
            label="Vat Class"
            [width]="100"
            [(value)]="document.VatClassId"
          >
          </dn-selectbox>
          <dn-selectbox
            class="grid-f-docstatus"
            [dataSource]="statusesList"
            valueExpr="Id"
            displayExpr="Name"
            label="Status"
            [width]="100"
            [(value)]="document.DocumentStatusId"
          >
          </dn-selectbox>
        </div>
      </div>
    </mat-tab>
    @if(this.documentGroup == 1){
    <mat-tab label="Shipping Info">
      <div class="tab-2">
        <div class="tab2-grid">
          <dn-textbox
            class="tab2-grid-a-shipping-address"
            name="shipping-address"
            [(value)]="document.ShippingAddress"
            label="Address"
            [width]="100"
          >
          </dn-textbox>

          <dn-textbox
            class="tab2-grid-b-shipping-region"
            name="shipping-region"
            [(value)]="document.ShippingRegion"
            label="Region"
            [width]="100"
          >
          </dn-textbox>

          <dn-textbox
            class="tab2-grid-c-shipping-phone1"
            name="shipping-phone1"
            [(value)]="document.ShippingPhone1"
            label="Phone 1"
            [width]="100"
          >
          </dn-textbox>

          <dn-textbox
            class="tab2-grid-d-shipping-phone2"
            name="shipping-phone2"
            [(value)]="document.ShippingPhone2"
            label="Phone 2"
            [width]="100"
          >
          </dn-textbox>

          <dn-textbox
            class="tab2-grid-e-shipping-city"
            name="shipping-city"
            [(value)]="document.ShippingCity"
            label="City"
            [width]="100"
          >
          </dn-textbox>

          <dn-textbox
            class="tab2-grid-f-postal-code"
            name="shipping-postal-code"
            [(value)]="document.ShippingPostalCode"
            label="Postal Code"
            [width]="100"
          >
          </dn-textbox>

          <dn-textbox
            class="tab2-grid-g-shipping-email"
            name="shipping-email"
            [(value)]="document.ShippingEmail"
            label="Email"
            [width]="100"
          >
          </dn-textbox>
        </div>
      </div>
    </mat-tab>
    }
    <mat-tab label="Notes">
      <div class="tab-3">
        <mat-form-field class="notes">
          <mat-label>Notes</mat-label>

          <textarea
            matInput
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="7"
            cdkAutosizeMaxRows="15"
            name="notes"
          ></textarea>
        </mat-form-field>
      </div>
    </mat-tab>
    <mat-tab label="User Inputs">
      <div class="tab-4">
        <div class="tab4-grid">
          <dn-textbox
            class="tab4-grid-a-user-text1"
            name="user-text-1"
            [(value)]="document.UserText1"
            label="User Text 1"
            [width]="100"
          >
          </dn-textbox>

          <dn-textbox
            class="tab4-grid-b-user-text2"
            name="user-text-2"
            [(value)]="document.UserText2"
            label="User Text 2"
            [width]="100"
          >
          </dn-textbox>

          <dn-textbox
            class="tab4-grid-c-user-text3"
            name="user-text-3"
            [(value)]="document.UserText3"
            label="User Text 3"
            [width]="100"
          >
          </dn-textbox>
          <dn-textbox
            class="tab4-grid-d-user-text4"
            name="user-text-4"
            [(value)]="document.UserText4"
            label="User Text 4"
            [width]="100"
          >
          </dn-textbox>

          <dn-number-box
            class="tab4-grid-e-user-number1"
            name="user-number-1"
            [(value)]="document.UserNumber1"
            label="User Number 1"
            [width]="100"
          >
          </dn-number-box>

          <dn-number-box
            class="tab4-grid-f-user-number2"
            name="user-number-2"
            [(value)]="document.UserNumber2"
            label="User Number 2"
            [width]="100"
          >
          </dn-number-box>

          <dn-number-box
            class="tab4-grid-g-user-number3"
            name="user-number-3"
            [(value)]="document.UserNumber3"
            label="User Number 3"
            [width]="100"
          >
          </dn-number-box>

          <dn-number-box
            class="tab4-grid-h-user-number4"
            name="user-number-4"
            [(value)]="document.UserNumber4"
            label="User Number 4"
            [width]="100"
          >
          </dn-number-box>

          <dn-date-box
            class="tab4-grid-i-user-date1"
            name="user-date-1"
            [(value)]="document.UserDate1"
            label="User Date 1"
            [width]="100"
          >
          </dn-date-box>

          <dn-date-box
            class="tab4-grid-j-user-date2"
            name="user-date-2"
            [(value)]="document.UserDate2"
            label="User Date 2"
            [width]="100"
          >
          </dn-date-box>

          <dn-date-box
            class="tab4-grid-k-user-date3"
            name="user-date-3"
            [(value)]="document.UserDate3"
            label="User Date 3"
            [width]="100"
          >
          </dn-date-box>

          <dn-date-box
            class="tab4-grid-l-user-date4"
            name="user-date-4"
            [(value)]="document.UserDate4"
            label="User Date 4"
            [width]="100"
          >
          </dn-date-box>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Attachments">
      <div class="tab-5">
        <div class="tab5">
          <div>
            <input type="file" />
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</form>

<div class="margin">
  <div>
    @if(productsDataSource && columns){
    <dn-grid class="table"
      #productstable
      tableHeaderBackgroundColor="#0B6AA5"
      tableHeaderFontColor="white"
      [enableAddButton]="true"
      [addButtonText]="'Add Product'"
      [canDisplaySearch]="false"
      [displayPaginator]="false"
      [displayTableBorder]="true"
      [(dataSource)]="productsDataSource"
      [columns]="columns"
      [canEdit]="true"
      (onRowStopEditing)="onProductRowStopEditing($event)"
      (onRowDelete)="onProductRowDelete($event)"
      (onRowSaving)="onProductRowSaving($event)"
    >
    </dn-grid>
    }
    <br />
    <br />
    <div class="edit-document-charges-field">
      <b class="addcharges-title">Additional Charges</b>
      <mat-form-field
        class="addcharges"
        appearance="outline"
        style="width: 120px; height: 20px"
      >
        <input matInput [readonly]="true" [(ngModel)]="addCharges" />
        <button
          matSuffix
          mat-icon-button
          matTooltip="Add charges"
          class="add-charges-btn"
          color="primary"
          (click)="onDocumentAdditionalChargesClicked($event)"
        >
          <mat-icon>add_circle</mat-icon>
        </button>
      </mat-form-field>
      <b class="total-title">Total</b>
      <mat-form-field appearance="outline" style="width: 120px; height: 50px">
        <input matInput [readonly]="true" [(ngModel)]="document.DocumentTotal" />
      </mat-form-field>
    </div>
  </div>
</div>
}
