<dn-toolbar
  [canDelete]="true"
  [canRefresh]="documentId ? true : false"
  [canExit]="true"
  [canSave]="true"
  [isDialog]="false"
  [title]="document_text"
  [entityId]="document.Id"
  (onCloseBtnClicked)="onCloseClicked($event)"
  (onDeleteBtnClicked)="onDeleteClicked($event)"
  (onSaveBtnClicked)="onSaveClicked($event)"
  (onRefreshBtnClicked)="onRefreshClicked($event)"
></dn-toolbar>
<form class="form">
  <mat-tab-group>
    <mat-tab label="Basic Info">
      <div class="tab-1">
        <div class="tab1-grid">
          <mat-form-field class="grid-a-doctype">
            <mat-label>Doc. Type</mat-label>
            <mat-select
              [(value)]="document.DocumentTypeName"
              (selectionChange)="onDocTypeSelection($event)"
            >
              @for (docType of docTypes; track docType) {
              <mat-option [value]="docType.Name">{{ docType.Name }}</mat-option>
              }
            </mat-select>
          </mat-form-field>

          <mat-form-field class="grid-b-docdate">
            <mat-label>Date</mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              name="DocumentDateTime"
              [(ngModel)]="document.DocumentDateTime"
            />
            <mat-datepicker-toggle
              class="position"
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <mat-form-field class="grid-c-customer">
            <mat-label>Customer</mat-label>
            <input
              class="width-100"
              matInput
              type="text"
              placeholder="Select a Customer"
              aria-label="Customer"
              matInput
              name="name"
              [formControl]="nameControl"
              [matAutocomplete]="auto"
            />
            <mat-autocomplete
              #auto="matAutocomplete"
              (optionSelected)="onNameSelection($event.option.value)"
            >
              @for (name of filteredNames| async; track name) {
              <mat-option [value]="name">{{ name }}</mat-option>
              }
            </mat-autocomplete>
          </mat-form-field>
          <mat-form-field class="grid-g-customerphone">
            <mat-label>Phone</mat-label>
            <input
              matInput
              name="phone"
              [(ngModel)]="document.CustomerPhone1"
            />
          </mat-form-field>

          <mat-form-field class="grid-e-docstatus">
            <mat-label>Status</mat-label>
            <mat-select
              [(value)]="document.DocumentStatusName"
              (selectionChange)="onDocStatusSelection($event)"
            >
              @for (status of statusesList; track status) {
              <mat-option [value]="status.Name">{{ status.Name }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Shipping Info">
      <div class="tab-2">
        <div class="tab2-grid">
          <mat-form-field class="tab2-grid-a-shipping-address">
            <mat-label>Address</mat-label>
            <input
              matInput
              name="shipping-address"
              [(ngModel)]="document.ShippingAddress"
            />
          </mat-form-field>
          <mat-form-field class="tab2-grid-b-shipping-region">
            <mat-label>Region</mat-label>
            <input
              matInput
              name="shipping-region"
              [(ngModel)]="document.ShippingRegion"
            />
          </mat-form-field>

          <mat-form-field class="tab2-grid-c-shipping-phone1">
            <mat-label>Phone 1</mat-label>
            <input
              matInput
              name="shipping-phone1"
              [(ngModel)]="document.ShippingPhone1"
            />
          </mat-form-field>

          <mat-form-field class="tab2-grid-d-shipping-phone2">
            <mat-label>Phone 2</mat-label>
            <input
              matInput
              name="shipping-phone2"
              [(ngModel)]="document.ShippingPhone2"
            />
          </mat-form-field>

          <mat-form-field class="tab2-grid-e-shipping-city">
            <mat-label>City</mat-label>
            <input
              matInput
              name="shipping-city"
              [(ngModel)]="document.ShippingCity"
            />
          </mat-form-field>

          <mat-form-field class="tab2-grid-f-postal-code">
            <mat-label>Postal Code</mat-label>
            <input
              matInput
              name="shipping-postal-code"
              type="number"
              [(ngModel)]="document.ShippingPostalCode"
            />
          </mat-form-field>
          <mat-form-field class="tab2-grid-g-shipping-email">
            <mat-label>Email</mat-label>
            <input
              matInput
              name="shipping-email"
              [(ngModel)]="document.ShippingEmail"
            />
          </mat-form-field>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Notes">
      <div class="tab-3">
        <mat-form-field class="notes">
          <mat-label>Notes</mat-label>

          <textarea
            matInput
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="7"
            cdkAutosizeMaxRows="15"
            name="notes"
          ></textarea>
        </mat-form-field>
      </div>
    </mat-tab>
    <mat-tab label="User Inputs">
      <div class="tab-4">
        <div class="tab4-grid">
          <mat-form-field class="tab4-grid-a-user-text1">
            <mat-label>User Text 1</mat-label>
            <input
              matInput
              name="user-text-1"
              [(ngModel)]="document.UserText1"
            />
          </mat-form-field>
          <mat-form-field class="tab4-grid-b-user-text2">
            <mat-label>User Text 2</mat-label>
            <input
              matInput
              name="user-text-2"
              [(ngModel)]="document.UserText2"
            />
          </mat-form-field>
          <mat-form-field class="tab4-grid-c-user-text3">
            <mat-label>User Text 3</mat-label>
            <input
              matInput
              name="user-text-3"
              [(ngModel)]="document.UserText3"
            />
          </mat-form-field>
          <mat-form-field class="tab4-grid-d-user-text4">
            <mat-label>User Text 4</mat-label>
            <input
              matInput
              name="user-text-4"
              [(ngModel)]="document.UserText4"
            />
          </mat-form-field>

          <mat-form-field class="tab4-grid-e-user-number1">
            <mat-label>User Number 1</mat-label>
            <input
              matInput
              name="user-number-1"
              type="number"
              [(ngModel)]="document.UserNumber1"
            />
          </mat-form-field>
          <mat-form-field class="tab4-grid-f-user-number2">
            <mat-label>User Number 2</mat-label>
            <input
              matInput
              name="user-number-2"
              type="number"
              [(ngModel)]="document.UserNumber2"
            />
          </mat-form-field>
          <mat-form-field class="tab4-grid-g-user-number3">
            <mat-label>User Number 3</mat-label>
            <input
              matInput
              name="user-number-3"
              type="number"
              [(ngModel)]="document.UserNumber3"
            />
          </mat-form-field>
          <mat-form-field class="tab4-grid-h-user-number4">
            <mat-label>User Number 4</mat-label>
            <input
              matInput
              name="user-number-4"
              type="number"
              [(ngModel)]="document.UserNumber4"
            />
          </mat-form-field>

          <mat-form-field class="tab4-grid-i-user-date1">
            <mat-label>User Date 1</mat-label>
            <input
              matInput
              name="user-date-1"
              type="date"
              [(ngModel)]="document.UserDate1"
            />
          </mat-form-field>
          <mat-form-field class="tab4-grid-j-user-date2">
            <mat-label>User Date 2</mat-label>
            <input
              matInput
              name="user-date-2"
              type="date"
              [(ngModel)]="document.UserDate2"
            />
          </mat-form-field>
          <mat-form-field class="tab4-grid-k-user-date3">
            <mat-label>User Date 3</mat-label>
            <input
              matInput
              name="user-date-3"
              type="date"
              [(ngModel)]="document.UserDate3"
            />
          </mat-form-field>
          <mat-form-field class="tab4-grid-l-user-date4">
            <mat-label>User Date 4</mat-label>
            <input
              matInput
              name="user-date-4"
              type="date"
              [(ngModel)]="document.UserDate4"
            />
          </mat-form-field>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</form>

<div class="margin">
  <div>
    <table
      #productstable
      mat-table
      [dataSource]="productsDataSource"
      class="mat-elevation-z8 products-table"
    >
      <ng-container *ngIf="!documentId" matColumnDef="SerialNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>S/N.</th>
        <td mat-cell *matCellDef="let element; let i = index">
          {{ productsDataSource[i].IsRowFilled == true ? i + 1 : undefined }}
        </td>
      </ng-container>

      <ng-container *ngIf="documentId" matColumnDef="SerialNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>S/N.</th>
        <td mat-cell *matCellDef="let element; let i = index">
          {{ i + 1 }}
        </td>
      </ng-container>

      <ng-container *ngIf="!documentId" matColumnDef="Barcode">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Barcode</th>
        <td mat-cell *matCellDef="let row; let i = index">
          <mat-form-field
            style="width: 150px"
            class="white-input input-position"
          >
            <input
              #td
              matInput
              class=""
              (focus)="onCellFocus($event, i, 'Barcode')"
              (keydown)="onKeydown($event, i)"
              (input)="onBarcodeInput($event, i)"
              [(ngModel)]="productsDataSource[i].Barcode"
            />
          </mat-form-field>
        </td>
      </ng-container>
      <ng-container *ngIf="documentId" matColumnDef="Barcode">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Barcode</th>
        <td mat-cell *matCellDef="let row; let i = index">
          {{ productsDataSource[i].Barcode }}
        </td>
      </ng-container>

      <ng-container *ngIf="!documentId" matColumnDef="Sku">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Sku</th>
        <td mat-cell *matCellDef="let row; let i = index">
          <mat-form-field
            style="width: 150px"
            class="white-input input-position"
          >
            <input
              matInput
              type="text"
              aria-label="Sku"
              matInput
              [value]="productsDataSource[i].Sku"
              [formControl]="skuControl"
              [matAutocomplete]="auto"
            />
            <mat-autocomplete
              #auto="matAutocomplete"
              (optionSelected)="onProductSkuSelection($event.option.value, i)"
            >
              @for (product of filteredProducts| async; track product) {
              <mat-option [value]="product.Sku">{{ product.Sku }}</mat-option>
              }
            </mat-autocomplete>
            <!-- <input matInput class="white-input" [value]="row.Sku!=undefined?row.Sku:''" /> -->
          </mat-form-field>
        </td>
      </ng-container>

      <ng-container *ngIf="documentId" matColumnDef="Sku">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Sku</th>
        <td mat-cell *matCellDef="let row; let i = index">
          {{ productsDataSource[i].Sku }}
        </td>
      </ng-container>

      <ng-container *ngIf="!documentId" matColumnDef="ProductName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Product Name</th>
        <td mat-cell *matCellDef="let row; let i = index">
          <mat-form-field class="white-input input-position">
            <input
              matInput
              class="white-input"
              (change)="onProductNameChanged($event, i)"
              [(ngModel)]="productsDataSource[i].ProductName"
            />
          </mat-form-field>
        </td>
      </ng-container>

      <ng-container *ngIf="documentId" matColumnDef="ProductName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Product Name</th>
        <td mat-cell *matCellDef="let row; let i = index">
          {{ productsDataSource[i].ProductName }}
        </td>
      </ng-container>

      <ng-container *ngIf="!documentId" matColumnDef="Price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Price</th>
        <td mat-cell *matCellDef="let row; let i = index">
          <mat-form-field
            style="width: 100px"
            class="white-input input-position"
          >
            <input
              type="number"
              min="0.00"
              matInput
              class="white-input"
              (change)="onPriceChange($event, i)"
              [(ngModel)]="productsDataSource[i].Price"
            />
          </mat-form-field>
        </td>
      </ng-container>

      <ng-container *ngIf="documentId" matColumnDef="Price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Price</th>
        <td style="width: 100px" mat-cell *matCellDef="let row; let i = index">
          {{ productsDataSource[i].Price + " " + currency }}
        </td>
      </ng-container>

      <ng-container *ngIf="!documentId" matColumnDef="SizeName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Size</th>
        <td mat-cell *matCellDef="let row; let i = index">
          <mat-form-field
            style="width: 150px"
            class="white-input input-position"
          >
            <input
              matInput
              name="size"
              type="text"
              aria-label="Size"
              [value]="productsDataSource[i].SizeName"
              [matAutocomplete]="auto"
              [formControl]="sizeControlArray[i]"
            />
            <mat-autocomplete
              #optionSelected
              #auto="matAutocomplete"
              [displayWith]="displaySizes"
            >
              @for (size of filteredSizesArray[i]| async; track size) {
              <mat-option
                (onSelectionChange)="onSizeSelectionChanged(size, i)"
                [value]="size.SizeName"
                >{{ size.SizeName }}</mat-option
              >
              }
            </mat-autocomplete>

            <!-- <input matInput class="white-input" [value]="row.SizeAbbreviation!=undefined?row.SizeAbbreviation:''" /> -->
          </mat-form-field>
        </td>
      </ng-container>

      <ng-container *ngIf="documentId" matColumnDef="SizeName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Size</th>
        <td style="width: 150px" mat-cell *matCellDef="let row; let i = index">
          {{ productsDataSource[i].SizeName }}
        </td>
      </ng-container>

      <ng-container *ngIf="!documentId" matColumnDef="Quantity">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Quantity</th>
        <td mat-cell *matCellDef="let row; let i = index">
          <mat-form-field
            style="width: 60px"
            class="white-input input-position"
          >
            <input
              type="number"
              min="1"
              matInput
              class="white-input"
              (change)="onQuantityChange($event, i)"
              [(ngModel)]="productsDataSource[i].Quantity"
            />
          </mat-form-field>
        </td>
      </ng-container>

      <ng-container *ngIf="documentId" matColumnDef="Quantity">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Quantity</th>
        <td style="width: 60px" mat-cell *matCellDef="let row; let i = index">
          {{ productsDataSource[i].Quantity }}
        </td>
      </ng-container>

      <ng-container *ngIf="!documentId" matColumnDef="RowTotal">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Total</th>
        <td mat-cell *matCellDef="let row; let i = index">
          <mat-form-field
            style="width: 100px"
            class="white-input input-position"
          >
            <input
              type="number"
              min="1"
              matInput
              class="white-input"
              (change)="onRowTotalChange($event, i)"
              [(ngModel)]="productsDataSource[i].TotalPrice"
            />
          </mat-form-field>
        </td>
      </ng-container>

      <ng-container *ngIf="documentId" matColumnDef="RowTotal">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Total</th>
        <td style="width: 100px" mat-cell *matCellDef="let row; let i = index">
          {{ productsDataSource[i].TotalPrice + " " + currency }}
        </td>
      </ng-container>

      <ng-container *ngIf="!documentId" matColumnDef="buttons">
        <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
        <td mat-cell *matCellDef="let row; let i = index">
          <button
            mat-icon-button
            matTooltip="Click for Info"
            color="primary"
            (click)="onProductInfoClicked(row, i)"
          >
            <mat-icon
              [ngClass]="
                productsDataSource[i].IsRowFilled
                  ? 'display-info-button'
                  : 'hide-info-button'
              "
              >info</mat-icon
            >
          </button>
          <button
            mat-icon-button
            matTooltip="Click to Remove"
            color="accent"
            (click)="removeProduct(row, i)"
          >
            <mat-icon
              [ngClass]="
                productsDataSource[i].IsRowFilled
                  ? 'display-delete-button'
                  : 'hide-delete-button'
              "
              >delete</mat-icon
            >
          </button>
        </td>
      </ng-container>

      <ng-container *ngIf="documentId" matColumnDef="buttons">
        <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
        <td mat-cell *matCellDef="let row; let i = index">
          <button
            mat-icon-button
            matTooltip="Click for Info"
            class="iconbutton"
            color="primary"
            (click)="onProductInfoClicked(row, i)"
          >
            <mat-icon>info</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="productDisplayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: productDisplayedColumns"></tr>

      <!-- No data row -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter</td>
      </tr>
    </table>
    <br />
    <br />
    <div class="edit-document-charges-field">
      <b class="addcharges-title">Additional Charges</b>
      <mat-form-field
        class="addcharges"
        appearance="outline"
        style="width: 120px; height: 20px"
      >
        <input matInput [readonly]="true" [(ngModel)]="addCharges" />
      </mat-form-field>
      <b class="total-title">Total</b>
      <mat-form-field appearance="outline" style="width: 120px; height: 50px">
        <input matInput [readonly]="true" [(ngModel)]="total" />
      </mat-form-field>
    </div>
  </div>
</div>
