<mat-toolbar>
  <span>{{ document_text }}</span>
  <span class="example-spacer"></span>
  <mat-icon
    [ngClass]="customer?.Id ? 'display-delete-button' : 'hide-delete-button'"
    (click)="onDeleteClicked($event)"
    >delete</mat-icon
  >

  <mat-icon class="save-button" (click)="onSaveClicked($event)">save</mat-icon>
  <mat-icon class="close-button" (click)="onCloseClicked($event)"
    >close</mat-icon
  >
</mat-toolbar>
<form class="example-form">
  <div class="flexbox">
    <div class="width-50">
      <b>Document Info</b>
    </div>
    <div class="width-50">
      <b>Shipping Info</b>
    </div>
    <br />
    <br />
  </div>
  <div class="flexbox">
    <div class="width-50 flexbox">
      <div class="width-35 margin-5">
        <mat-form-field class="doc-type">
          <mat-label>Doc. Type</mat-label>
          <mat-select (selectionChange)="onDocTypeSelection($event)"
          >
            @for (docType of docTypes; track docType) {
            <mat-option [value]="docType.Name">{{ docType.Name }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
      <div class="width-50 margin-5">
        <mat-form-field class="example-full-width">
          <mat-label>Customer</mat-label>
          <input
            matInput
            type="text"
            placeholder="Select a Customer"
            aria-label="Customer"
            matInput
            [formControl]="nameControl"
            [matAutocomplete]="auto"
          />
          <mat-autocomplete
            #auto="matAutocomplete"
            (optionSelected)="onNameSelection($event.option.value)"
          >
            @for (name of filteredNames| async; track name) {
            <mat-option [value]="name">{{ name }}</mat-option>
            }
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </div>
    <div class="flexbox width-50">
      <div class="width-45 margin-5">
        <mat-form-field class="shipping-address">
          <mat-label>Shipping Address</mat-label>
          <input
            matInput
            name="shipping-address"
            [(ngModel)]="document.ShippingAddress"
          />
        </mat-form-field>
      </div>
      <div class="width-45">
        <mat-form-field class="shipping-phone">
          <mat-label>Shipping Phone</mat-label>
          <input
            matInput
            name="shipping-phone"
            [(ngModel)]="document.ShippingPhone1"
          />
        </mat-form-field>
      </div>
    </div>
  </div>

  <div class="width-50 flexbox">
    <div class="width-35 margin-5">
      <mat-form-field>
        <mat-label>Date</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          name="DocumentDateTime"
          [(ngModel)]="document.DocumentDateTime"
        />
        <mat-datepicker-toggle
          class="position"
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="width-45 margin-5">
      <mat-form-field class="phone">
        <mat-label>Phone</mat-label>
        <input matInput name="phone" [(ngModel)]="customer.Phone1" />
      </mat-form-field>
    </div>
  </div>
</form>

<div class="margin">
  <!-- <mat-form-field>
    <mat-label>Search</mat-label>
    <input matInput (keyup)="filterProducts($event)" placeholder="Ex. Maria" #input>
  </mat-form-field> -->


  <div  *ngIf="!documentId">
    <table
      #productstable
      mat-table
      [dataSource]="productsDataSource"
      class="mat-elevation-z8 products-table"
    >
      <ng-container matColumnDef="SerialNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>S/N.</th>
        <td mat-cell *matCellDef="let element; let i = index">
          {{ productsDataSource[i].IsRowFilled == true ? i + 1 : undefined }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Barcode">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Barcode</th>
        <td mat-cell *matCellDef="let row; let i = index">
          <mat-form-field
            style="width: 150px"
            class="white-input input-position"
          >
            <input
              #td
              matInput
              class=""
              (focus)="onCellFocus($event, i, 'Barcode')"
              (keydown)="onKeydown($event, i)"
              (input)="onBarcodeInput($event, i)"
              [(ngModel)]="productsDataSource[i].Barcode"
            />
          </mat-form-field>
        </td>
      </ng-container>

      <ng-container matColumnDef="Sku">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Sku</th>
        <td mat-cell *matCellDef="let row; let i = index">
          <mat-form-field
            style="width: 150px"
            class="white-input input-position"
          >
            <input
              matInput
              type="text"
              aria-label="Sku"
              matInput
              [value]="productsDataSource[i].Sku"
              [formControl]="skuControl"
              [matAutocomplete]="auto"
            />
            <mat-autocomplete
              #auto="matAutocomplete"
              (optionSelected)="onProductSkuSelection($event.option.value, i)"
            >
              @for (product of filteredProducts| async; track product) {
              <mat-option [value]="product.Sku">{{ product.Sku }}</mat-option>
              }
            </mat-autocomplete>
            <!-- <input matInput class="white-input" [value]="row.Sku!=undefined?row.Sku:''" /> -->
          </mat-form-field>
        </td>
      </ng-container>

      <ng-container matColumnDef="ProductName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Product Name</th>
        <td mat-cell *matCellDef="let row; let i = index">
          <mat-form-field class="white-input input-position">
            <input
              matInput
              class="white-input"
              (change)="onProductNameChanged($event, i)"
              [(ngModel)]="productsDataSource[i].ProductName"
            />
          </mat-form-field>
        </td>
      </ng-container>

      <ng-container matColumnDef="Price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Price</th>
        <td mat-cell *matCellDef="let row; let i = index">
          <mat-form-field
            style="width: 100px"
            class="white-input input-position"
          >
            <input
              type="number"
              min="0.00"
              matInput
              class="white-input"
              (change)="onPriceChange($event, i)"
              [(ngModel)]="productsDataSource[i].Price"
            />
          </mat-form-field>
        </td>
      </ng-container>

      <ng-container matColumnDef="SizeName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Size</th>
        <td mat-cell *matCellDef="let row; let i = index">
          <mat-form-field
            style="width: 150px"
            class="white-input input-position"
          >
            <input
              matInput
              name="size"
              type="text"
              aria-label="Size"
              [value]="productsDataSource[i].SizeName"
              [matAutocomplete]="auto"
              [formControl]="sizeControlArray[i]"

            />
            <mat-autocomplete #optionSelected #auto="matAutocomplete" [displayWith]="displaySizes"

            >
              @for (size of filteredSizesArray[i]| async; track size) {
              <mat-option
                (onSelectionChange)="onSizeSelectionChanged(size, i)"
                [value]="size.SizeName"
                >{{ size.SizeName }}</mat-option
              >
              }
            </mat-autocomplete>

            <!-- <input matInput class="white-input" [value]="row.SizeAbbreviation!=undefined?row.SizeAbbreviation:''" /> -->
          </mat-form-field>
        </td>
      </ng-container>

      <ng-container matColumnDef="ProductQuantity">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Quantity</th>
        <td mat-cell *matCellDef="let row; let i = index">
          <mat-form-field
            style="width: 60px"
            class="white-input input-position"
          >
            <input
              type="number"
              min="1"
              matInput
              class="white-input"
              (change)="onQuantityChange($event, i)"
              [(ngModel)]="productsDataSource[i].ProductQuantity"
            />
          </mat-form-field>
        </td>
      </ng-container>

      <ng-container matColumnDef="RowTotal">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Total</th>
        <td mat-cell *matCellDef="let row; let i = index">
          <mat-form-field
            style="width: 100px"
            class="white-input input-position"
          >
            <input
              type="number"
              min="1"
              matInput
              class="white-input"
              (change)="onRowTotalChange($event, i)"
              [(ngModel)]="productsDataSource[i].RowTotal"
            />
          </mat-form-field>
        </td>
      </ng-container>
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
        <td mat-cell *matCellDef="let row; let i = index">
          <button
            mat-icon-button
            matTooltip="Click to Remove"
            class="iconbutton"
            color="primary"
            (click)="removeProduct(row, i)"
          >
            <mat-icon
              [ngClass]="
                productsDataSource[i].IsRowFilled
                  ? 'display-delete-button'
                  : 'hide-delete-button'
              "
              >delete</mat-icon
            >
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="productDisplayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: productDisplayedColumns"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter</td>
      </tr>
    </table>
  </div>
  <div *ngIf="documentId">
    <table
    #productstable
    mat-table
    [dataSource]="productsDataSource"
    class="mat-elevation-z8 products-table"
  >
    <ng-container matColumnDef="SerialNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>S/N.</th>
      <td mat-cell *matCellDef="let element; let i = index">
        {{  i + 1 }}
      </td>
    </ng-container>
    <ng-container matColumnDef="Barcode">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Barcode</th>
      <td mat-cell *matCellDef="let row; let i = index">
        {{productsDataSource[i].Barcode}}
      </td>
    </ng-container>

    <ng-container matColumnDef="Sku">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Sku</th>
      <td           style="width: 150px"
      mat-cell *matCellDef="let row; let i = index">
        {{productsDataSource[i].Sku}}
      </td>
    </ng-container>

    <ng-container matColumnDef="ProductName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Product Name</th>
      <td mat-cell *matCellDef="let row; let i = index">
       {{productsDataSource[i].ProductName}}
      </td>
    </ng-container>

    <ng-container matColumnDef="Price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Price</th>
      <td           style="width: 100px"
      mat-cell *matCellDef="let row; let i = index">
       {{productsDataSource[i].Price}}
      </td>
    </ng-container>

    <ng-container matColumnDef="SizeName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Size</th>
      <td style="width: 150px" mat-cell *matCellDef="let row; let i = index">
        {{productsDataSource[i].SizeName}}
      </td>
    </ng-container>

    <ng-container matColumnDef="ProductQuantity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Quantity</th>
      <td style="width: 60px" mat-cell *matCellDef="let row; let i = index">
        {{productsDataSource[i].ProductQuantity}}
      </td>
    </ng-container>

    <ng-container matColumnDef="RowTotal">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Total</th>
      <td style="width: 100px" mat-cell *matCellDef="let row; let i = index">
        {{productsDataSource[i].RowTotal}}
      </td>
    </ng-container>
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td mat-cell *matCellDef="let row; let i = index">

      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="productDisplayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: productDisplayedColumns"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter</td>
    </tr>
  </table>
  </div>
</div>
