<div class="dn-grid-container">
  <mat-form-field
    class="search-input"
    style="height: 45px; width: 35%"
    *ngIf="canDisplaySearch"
  >
    <mat-label>Search</mat-label>
    <input
      class="search-input-text"
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Ex. Maria"
      #input
    />
  </mat-form-field>
  <article *ngIf="enableAddButton" class="add-button example-form">
    <button mat-button class="button-add-row" (click)="add($event)">Add</button>
  </article>
  <div class="mat-elevation-z8 table-container">
    <table
      class="table"
      #matTable
      mat-table
      [dataSource]="matDataSource"
      matSort
    >

      <ng-container
        *ngFor="
          let column of columns | visbleGridColumns;
          let i = index;
          trackBy: columnsTrackBy
        "
        matColumnDef="{{ column.DataField }}"
      >
        <th
          [style.background-color]="tableHeaderBackgroundColor"
          [style.color]="tableHeaderFontColor"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          <span class="column-title"> {{ column.Caption }}</span>
        </th>
        <!-- Adds Total text in the footer of the first column -->
        <ng-container
          *ngIf="
            i == 0 &&
            (hasAnyColumnDisplayTotalEnabled | columnDisplayTotal : columns)
          "
        >
          <td mat-footer-cell *matFooterCellDef>
            <b class="row-total">Total</b>
          </td>
        </ng-container>

        <td
          [ngClass]="displayTableBorder ? 'display-border' : ''"
          mat-cell
          *matCellDef="let row; let index"
        >
          <!-- String Input -->
          <dn-textbox
            *ngIf="
              column.DataType == 'string' && row.IsEditable && !column.Lookup
            "
            style="width: 100%"
            class="white-input"
            [name]="column.Caption"
            [readOnly]="column.ReadOnly ?? false"
            [(value)]="row[column.DataField]"
            (valueChange)="onValueChange(row, column)"
          >
          </dn-textbox>

          <!-- Number Input -->
          <dn-number-box
            *ngIf="
              column.DataType == 'number' && row.IsEditable && !column.Lookup
            "
            class="white-input"
            [name]="column.Caption"
            [readOnly]="column.ReadOnly ?? false"
            [min]="
              column.Min !== undefined && column.Min !== null
                ? column.Min
                : null
            "
            [max]="column.Max ? column.Max : null"
            [(value)]="row[column.DataField]"
            (valueChange)="onValueChange(row, column)"
          >
          </dn-number-box>

          <!-- Date Input -->
          <dn-date-box
          *ngIf="
          column.DataType == 'datetime' && row.IsEditable && !column.Lookup
        "
          style="width: 100%"
          class="white-input"
          [name]="column.Caption"
          [readOnly]="column.ReadOnly ?? false"
          [(value)]="row[column.DataField]"
          (valueChange)="onValueChange(row, column)"
        >
        </dn-date-box>


          <!-- <mat-form-field
            *ngIf="
              column.DataType == 'datetime' && row.IsEditable && !column.Lookup
            "
            style="width: 100%"
            class="white-input"
            (click)="onClick(row, column)"
          >
            <input
              class="date-input-text"
              *ngIf="row.IsEditable"
              matInput
              [readonly]="column.ReadOnly"
              type="date"
              [name]="column.Caption"
              [(ngModel)]="row[column.DataField]"
              matInput
              (ngModelChange)="onValueChange(row, column)"
            />
          </mat-form-field> -->
          <!-- Boolean Input -->
          <div
            *ngIf="
              column.DataType == 'boolean' && row.IsEditable && !column.Lookup
            "
            style="width: 100%"
            class="white-input center"
          >
            <mat-checkbox
              *ngIf="row.IsEditable"
              class="example-margin"
              [name]="column.Caption"
              [checked]="row[column.DataField]"
              (change)="updateBooleanColumn($event.checked, row, column)"
            >
            </mat-checkbox>
          </div>

          <mat-form-field
            *ngIf="row.IsEditable && column.Lookup"
            class="white-input no-underline"
            (click)="onClick(row, column)"
          >
            <input
              class="autocomplete-input-text"
              *ngIf="row.IsEditable"
              matInput
              type="text"
              [name]="column.Caption"
              [matAutocomplete]="auto"
              [ngModel]="row[column.DataField] | lookupName : row : column"
            />
            <mat-autocomplete
              #auto="matAutocomplete"
              (optionSelected)="
                onDataLookupSelectionChanged(column, row, $event.option.value)
              "
            >
              <mat-option
                *ngFor="
                  let data of row.DataSource
                    ? row.DataSource[column.DataField]
                    : column.Lookup.DataSource;
                  trackBy: lookupFieldTrackBy
                "
                [value]="data"
              >
                <span class="autocomplete-options">{{
                  data[column.Lookup.DisplayExpr]
                }}</span>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <p
            *ngIf="
              !row.IsEditable &&
              !column.Lookup &&
              (column.DataType == 'string' || column.DataType == 'number')
            "
          >
            {{ row[column.DataField] }}
          </p>
          <p
            *ngIf="
              !row.IsEditable &&
              !column.Lookup &&
              (column.DataType == 'datetime' || column.DataType == 'date')
            "
          >
            <!-- If Format has value (eg dd/MM/yyyy) we pass the value to DatePipe -->
            <span *ngIf="column.Format">
              {{ row[column.DataField] | date : column.Format }}</span
            >
            <span *ngIf="!column.Format"> {{ row[column.DataField] }}</span>
          </p>
          <p
            *ngIf="
              !row.IsEditable && !column.Lookup && column.DataType == 'boolean'
            "
          >
            <mat-checkbox
              class="example-margin"
              [checked]="row[column.DataField]"
              [disabled]="true"
            >
            </mat-checkbox>
          </p>

          <p *ngIf="!row.IsEditable && column.Lookup">
            {{ row[column.DataField] | lookupName : row : column }}
          </p>
          <button
            *ngIf="
              column.DataType == 'buttons' &&
              canEdit &&
              !hideEditButtonOnEditing
            "
            mat-icon-button
            class="iconbutton"
            color="primary"
            (click)="row.IsEditable ? save(row, index) : edit(row, index)"
          >
            <mat-icon *ngIf="!row.IsEditable">edit</mat-icon>
            <mat-icon *ngIf="row.IsEditable">save</mat-icon>
          </button>
          <button
            *ngIf="column.DataType == 'buttons' && canDelete"
            mat-icon-button
            class="iconbutton"
            color="primary"
            (click)="
              row.IsEditable && !displayDeleteButtonOnEditing
                ? stopEditing(row, index)
                : deleteRow(row, index)
            "
          >
            <mat-icon *ngIf="row.IsEditable && !displayDeleteButtonOnEditing"
              >close</mat-icon
            >
            <mat-icon
              *ngIf="
                row.IsEditable &&
                displayDeleteButtonOnEditing &&
                row.IsRowFilled
              "
              >delete</mat-icon
            >
            <mat-icon *ngIf="!row.IsEditable">delete</mat-icon>

            <!-- displayDeleteButtonOnEditing is used to determine if the state of the row is in edit or not
             If in edit there is no reason to display delete button, so a stop editing button will take its place -->

            <!-- row.IsRowFilled is used when you have more than one empty rows to be filled.
             When the row is filled, the button will be visible -->
          </button>
          <button
            *ngIf="column.DataType == 'buttons' && showInfo"
            mat-icon-button
            class="iconbutton"
            color="primary"
            (click)="onInfoBtnClicked(row)"
          >
            <mat-icon *ngIf="!row.IsEditable">info</mat-icon>
          </button>
        </td>
        <!-- If DisplayColumnTotal is true then the total of the column will be displayed in the footer-->
        <ng-container
          *ngIf="
            column.DisplayColumnTotal &&
            (hasAnyColumnDisplayTotalEnabled | columnDisplayTotal : columns)
          "
          ><td mat-footer-cell *matFooterCellDef>
            <b class="row-total"> {{ getTotal(column) }}</b>
          </td></ng-container
        >
        <ng-container
          *ngIf="
            !column.DisplayColumnTotal &&
            (hasAnyColumnDisplayTotalEnabled | columnDisplayTotal : columns)
          "
          ><td mat-footer-cell *matFooterCellDef><b class="row-total"></b></td
        ></ng-container>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="matColumns"></tr>
      <tr
        mat-row
        class="table-row"
        *matRowDef="let row; columns: matColumns"
      ></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell no-data-text" colspan="4">No data found</td>
      </tr>
      <ng-container *ngIf="displayFooter()">
        <tr mat-footer-row *matFooterRowDef="matColumns"></tr>
      </ng-container>
    </table>
    <mat-paginator
      *ngIf="displayPaginator"
      #paginator
      [length]="matDataSource.data.length"
      [pageSize]="pageSize"
      (page)="onPaginatorValueChange($event)"
      [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page"
    >
    </mat-paginator>
  </div>
</div>
