.mat-column-buttons {
  text-align: right;
}
.add-button {
  width: 90%;
  text-align: right;
  margin-bottom: 10px;
}
.example-form {

  width: 95%;

  margin-bottom: 2%
}

.dn-grid-container ::ng-deep .mat-mdc-form-field-subscript-wrapper{
  display: none!important;

}

.button-add-row {
  background: #0B6AA5!important;
  color: #ffffff!important;
}
.margin{
  margin:1%
}

::ng-deep .white-input .mat-mdc-text-field-wrapper{
  background: white!important;
}

