.mat-column-buttons {
  text-align: right;
  border-left:none!important;
}

::ng-deep .mat-mdc-cell:nth-last-child(2){
  border-right:none!important;

}

.add-button {
  width: 90%;
  text-align: right;
  margin-bottom: 10px;
}
.example-form {

  width: 95%;

  margin-bottom: 2%
}

.dn-grid-container ::ng-deep .mat-mdc-form-field-subscript-wrapper{
  display: none!important;
  margin:2%

}

.button-add-row {
  background: #0B6AA5!important;
  color: #ffffff!important;
}
.search-input{
  margin-bottom: 1%;
}

.center{
  text-align: center;
}

::ng-deep .white-input .mat-mdc-text-field-wrapper{
  background: white!important;
}

.mdc-data-table__cell, .mdc-data-table__header-cell{
  padding: 0!important;
}


::ng-deep .mat-mdc-form-field-infix{
  width: 100%!important;
}
::ng-deep .mat-mdc-table{
  white-space:pre!important;
}

.display-border{
  border:1px solid rgb(69, 69, 69);
}
::ng-deep .mat-mdc-table {
  border-collapse: collapse;
}

  /* For editing mode */
 .table::ng-deep .ng-star-inserted{
  margin: 0!important;

}

/* When not in editing mode */
 .table::ng-deep .mat-mdc-cell p{
  margin-left: 5%!important;

}

 .table::ng-deep .mat-sort-header-container{
    margin-left: 5%!important;

}

.table ::ng-deep .mdc-line-ripple {
  display: none
}

/* .table::ng-deep tr>td, .mat-mdc-cell{
  line-height: 20px!important;
} */

/*To change the height of the search input  */
.search-input ::ng-deep .mat-mdc-text-field-wrapper {
  height: 40px !important;
}
.search-input ::ng-deep .mat-mdc-form-field-flex {
  margin-top: -7px !important;
}

/* Table cell elements font size */
.table ::ng-deep p{
  font-size: 12px;
}
.mat-icon {
  font-size: 18px;
}
::ng-deep .mat-checkbox .mat-checkbox-inner-container {
  width: 30px;
  height: 30px;
}
.column-title, .search-input-text{
  font-size: 12px!important;
}
.string-input-text, .autocomplete-input-text, .autocomplete-options, .no-data-text{
  font-size: 12px!important;
}

.table ::ng-deep .mdc-checkbox__background{
  height: 15px!important;
  width: 15px!important;
}

.search-input ::ng-deep mat-label{
  font-size: 12px!important;

}

