<div class="dn-grid-container">
  @if(canDisplaySearch){
  <mat-form-field class="search-input" style="height: 45px; width: 35%">
    <mat-label>Search</mat-label>
    <input
      class="search-input-text"
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Ex. Maria"
      #input
    />
  </mat-form-field>
  } @if(enableAddButton){
  <article class="add-button example-form">
    <button mat-button class="button-add-row" (click)="add($event)">
      {{ addButtonText }}
    </button>
  </article>
  }
  <div class="mat-elevation-z8 table-container">
    <table
      class="table"
      #matTable
      mat-table
      [dataSource]="matDataSource"
      matSort
    >
      <ng-container
        *ngFor="
          let column of columns | visbleGridColumns;
          let i = index;
          trackBy: columnsTrackBy
        "
        matColumnDef="{{ column.DataField }}"
      >
        <th
          [style.background-color]="tableHeaderBackgroundColor"
          [style.color]="tableHeaderFontColor"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          @if(column.DataType=="select"){
          <mat-checkbox
            (change)="$event ? masterToggle() : null"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()"
          >
          </mat-checkbox>
          } @if(column.DataType!="select"){
          <span class="column-title"> {{ column.Caption }}</span>
          }
        </th>
        <!-- Adds Total text in the footer of the first column -->
        @if( i == 0 && (hasAnyColumnDisplayTotalEnabled | columnDisplayTotal :
        columns)){
        <ng-container>
          <td mat-footer-cell *matFooterCellDef>
            <b class="row-total">Total</b>
          </td>
        </ng-container>
        }

        <td
          [ngClass]="displayTableBorder ? 'display-border' : ''"
          mat-cell
          [ngStyle]="{ width: column.Width ? column.Width + 'px' : '' }"
          *matCellDef="let row; let index"
        >
          @if(column.DataType=="select"){
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="onRowSelectionChange($event, row)"
            [checked]="selection.isSelected(row)"
          >
          </mat-checkbox>
          }
          <!-- String Input -->
          @if(column.DataType == 'string' && row.IsEditable && !column.Lookup){
          <dn-textbox
            class="white-input"
            [name]="column.Caption"
            [readOnly]="column.ReadOnly ?? false"
            [(value)]="row[column.DataField]"
            (valueChange)="onValueChange(row, column)"
            [icon]="row[column.DataField] ? column.Icon : ''"
            [iconPosition]="column.IconPosition ? column.IconPosition : 'end'"
            (onIconClicked)="onIconClicked($event, column, row)"
          >
          </dn-textbox>
          }
          <!-- Number Input -->
          @if(column.DataType == 'number' && row.IsEditable && !column.Lookup){
          <dn-number-box
            class="white-input"
            [name]="column.Caption"
            [readOnly]="column.ReadOnly ?? false"
            [min]="
              column.Min !== undefined && column.Min !== null
                ? column.Min
                : null
            "
            [max]="column.Max ? column.Max : null"
            [(value)]="row[column.DataField]"
            (valueChange)="onValueChange(row, column)"
            [icon]="row[column.DataField] ? column.Icon : ''"
            [iconPosition]="column.IconPosition ? column.IconPosition : 'end'"
            (onIconClicked)="onIconClicked($event, column, row)"
            [iconTooltip]="column.IconTooltip ? column.IconTooltip : ''"
            (onFocusOut)="onFocusOut($event, column, row)"
            (onClick)="onClick(row, column)"
          >
          </dn-number-box>
          }

          <!-- TODO Icon must be visible with a condition in the columns and not here ---- row[column.DataField]?column.Icon:''-->
          <!-- Date Input -->
          @if(column.DataType == 'datetime' && row.IsEditable &&
          !column.Lookup){
          <dn-date-box
            class="white-input"
            [name]="column.Caption"
            [readOnly]="column.ReadOnly ?? false"
            [(value)]="row[column.DataField]"
            (valueChange)="onValueChange(row, column)"
          >
          </dn-date-box>
          }

          <!-- <mat-form-field
            *ngIf="
              column.DataType == 'datetime' && row.IsEditable && !column.Lookup
            "
            style="width: 100%"
            class="white-input"
            (click)="onClick(row, column)"
          >
            <input
              class="date-input-text"
              *ngIf="row.IsEditable"
              matInput
              [readonly]="column.ReadOnly"
              type="date"
              [name]="column.Caption"
              [(ngModel)]="row[column.DataField]"
              matInput
              (ngModelChange)="onValueChange(row, column)"
            />
          </mat-form-field> -->
          <!-- Boolean Input -->

          @if(column.DataType == 'boolean' && row.IsEditable && !column.Lookup){
          <div style="width: 100%" class="white-input center">
            <mat-checkbox
              class="example-margin"
              [name]="column.Caption"
              [checked]="row[column.DataField]"
              (change)="updateBooleanColumn($event.checked, row, column)"
            >
            </mat-checkbox>
          </div>

          }
          @if(column.DataType == "image"){
            <div style="width: 100%" class="white-input center">
              <img [src]="row[column.DataField]" width="80" height="80" />
            </div>
            }
          @if(row.IsEditable && column.Lookup){
          <dn-selectbox
            #selectBox
            [name]="column.Caption"
            [optionsTemplate]="
              column.Lookup.DisplayMultExpr != null ? true : false
            "
            [dataSource]="column.Lookup.DataSource"
            [valueExpr]="column.Lookup.ValueExpr"
            [displayExpr]="column.Lookup.DisplayExpr ?? ''"
            [value]="row[column.DataField] | lookupName : row : column"
            [icon]="column.Icon"
            [iconPosition]="column.IconPosition ? column.IconPosition : 'end'"
            [iconTooltip]="column.IconTooltip ? column.IconTooltip : ''"
            [panelWidth]="'auto'"
            (onIconClicked)="onIconClicked($event, column, row)"
            (valueChange)="onDataLookupSelectionChanged(column, row, $event)"
            (onClick)="onClick(row, column)"
          >
            <ng-template let-option>
              {{ column.Lookup.DisplayMultExpr(option) }}
            </ng-template>
          </dn-selectbox>

          <!-- <mat-form-field
            class="white-input no-underline"
            (click)="onClick(row, column)"
          >
            <input
              class="autocomplete-input-text"
              *ngIf="row.IsEditable"
              matInput
              type="text"
              [name]="column.Caption"
              [matAutocomplete]="auto"
              [ngModel]="row[column.DataField] | lookupName : row : column"
            />
            <mat-autocomplete
              #auto="matAutocomplete"
              (optionSelected)="
                onDataLookupSelectionChanged(column, row, $event.option.value)
              "
            >
              <mat-option
                *ngFor="
                  let data of row.DataSource
                    ? row.DataSource[column.DataField]
                    : column.Lookup.DataSource;
                  trackBy: lookupFieldTrackBy
                "
                [value]="data"
              >
                <span class="autocomplete-options">{{
                  data[column.Lookup.DisplayExpr]
                }}</span>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field> -->
          } @if( !row.IsEditable && !column.Lookup && (column.DataType ==
          'string' || column.DataType == 'number')){
          <p>
            @if(column.WrapText){
              {{row[column.DataField]}}
            }@else {
            <dn-textbox
              [readOnly]="true"
              [value]="row[column.DataField]"
              [icon]="column.Icon"
              [iconPosition]="column.IconPosition ? column.IconPosition : 'end'"
              (onIconClicked)="onIconClicked($event, column, row)"
              [iconTooltip]="column.IconTooltip ? column.IconTooltip : ''"
            ></dn-textbox>
          }
          </p>
          } @if(!row.IsEditable && !column.Lookup && (column.DataType ==
          'datetime' || column.DataType == 'date')){
          <p>
            <!-- If Format has value (eg dd/MM/yyyy) we pass the value to DatePipe -->

            @if(column.Format){
            <dn-textbox
              [readOnly]="true"
              [value]="row[column.DataField] | date : column.Format"
            ></dn-textbox>
            } @if(!column.Format){
            <dn-textbox
              [readOnly]="true"
              [value]="row[column.DataField]"
            ></dn-textbox>
            }
          </p>
          } @if(!row.IsEditable && !column.Lookup && column.DataType ==
          'boolean'){
          <p>
            <mat-checkbox
              class="example-margin"
              [checked]="row[column.DataField]"
              [disabled]="true"
            >
            </mat-checkbox>
          </p>
          } @if(!row.IsEditable && column.Lookup){
          <p>
            <dn-textbox
              [readOnly]="true"
              [value]="row[column.DataField] | lookupName : row : column"
            ></dn-textbox>
          </p>
          } @if(column.DataType == 'buttons' && canEdit &&
          !hideEditButtonOnEditing){
          <div class="inline">
            <div>
              <button
                mat-icon-button
                class="iconbutton"
                color="primary"
                (click)="row.IsEditable ? save(row, index) : edit(row, index)"
              >
                @if(!row.IsEditable){<mat-icon>edit</mat-icon>}
                @if(row.IsEditable){<mat-icon>save</mat-icon>}
              </button>
            </div>

            @if(column.DataType == 'buttons' && canDelete){
            <div>
              <button
                mat-icon-button
                class="iconbutton"
                color="primary"
                (click)="
                  row.IsEditable && !displayDeleteButtonOnEditing
                    ? stopEditing(row, index)
                    : deleteRow(row, index)
                "
              >
                @if(row.IsEditable && !displayDeleteButtonOnEditing){
                <mat-icon>close</mat-icon>
                } @if(row.IsEditable && displayDeleteButtonOnEditing &&
                row.IsRowFilled){
                <mat-icon>delete</mat-icon>
                } @if(!row.IsEditable){
                <mat-icon>delete</mat-icon>}

                <!-- displayDeleteButtonOnEditing is used to determine if the state of the row is in edit or not
               If in edit there is no reason to display delete button, so a stop editing button will take its place -->

                <!-- row.IsRowFilled is used when you have more than one empty rows to be filled.
               When the row is filled, the button will be visible -->
              </button>
            </div>
            } @if(column.DataType == 'buttons' && showInfo){
            <button
              mat-icon-button
              class="iconbutton"
              color="primary"
              (click)="onInfoBtnClicked(row)"
            >
              @if(!row.IsEditable){<mat-icon>info</mat-icon>}
            </button>
            }
          </div>
          }
        </td>
        <!-- If DisplayColumnTotal is true then the total of the column will be displayed in the footer-->
        @if(column.DisplayColumnTotal && (hasAnyColumnDisplayTotalEnabled |
        columnDisplayTotal : columns)){
        <ng-container
          ><td mat-footer-cell *matFooterCellDef>
            <b class="row-total"> {{ getTotal(column) }}</b>
          </td></ng-container
        >} @if(!column.DisplayColumnTotal && (hasAnyColumnDisplayTotalEnabled |
        columnDisplayTotal : columns)){
        <ng-container
          ><td mat-footer-cell *matFooterCellDef><b class="row-total"></b></td
        ></ng-container>
        }
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="matColumns"></tr>
      <tr
        mat-row
        class="table-row"
        *matRowDef="let row; columns: matColumns"
      ></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell no-data-text" colspan="4">No data found</td>
      </tr>
      @if(displayFooter()){
      <ng-container>
        <tr mat-footer-row *matFooterRowDef="matColumns"></tr>
      </ng-container>
      }
    </table>
    @if(displayPaginator){
    <mat-paginator
      #paginator
      [length]="matDataSource.data.length"
      [pageSize]="pageSize"
      (page)="onPaginatorValueChange($event)"
      [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page"
    >
    </mat-paginator>
    }
  </div>
</div>
