.mat-column-buttons {
  text-align: right;
  border-left:none!important;
}

::ng-deep .mat-mdc-cell:nth-last-child(2){
  border-right:none!important;

}

.add-button {
  width: 90%;
  text-align: right;
  margin-bottom: 10px;
}
.example-form {

  width: 95%;

  margin-bottom: 2%
}

.dn-grid-container ::ng-deep .mat-mdc-form-field-subscript-wrapper{
  display: none!important;
  margin:2%

}

.button-add-row {
  background: #0B6AA5!important;
  color: #ffffff!important;
}
.search-input{
  margin-bottom: 1%;
}

.center{
  text-align: center;
}

::ng-deep .white-input .mat-mdc-text-field-wrapper{
  background: white!important;
}

.mdc-data-table__cell, .mdc-data-table__header-cell{
  padding: 0!important;
}


.dn-grid-container ::ng-deep .mat-mdc-form-field-infix{
  width: 100%!important;
}
::ng-deep .mat-mdc-table{
  white-space:pre!important;
}

.display-border{
  border:1px solid rgb(69, 69, 69);
}
::ng-deep .mat-mdc-table {
  border-collapse: collapse;
}

  /* For editing mode */
 .table::ng-deep .ng-star-inserted{
  margin: 0!important;

}

/* When not in editing mode */
 .table::ng-deep .mat-mdc-cell p{
  margin-left: 5%!important;

}

 .table::ng-deep .mat-sort-header-container{
    margin-left: 5%!important;

}

.table ::ng-deep .mdc-line-ripple {
  display: none
}

/* .table::ng-deep tr>td, .mat-mdc-cell{
  line-height: 20px!important;
} */

/*To change the height of the search input  */
.search-input ::ng-deep .mat-mdc-text-field-wrapper {
  height: 40px !important;
}
.search-input ::ng-deep .mat-mdc-form-field-flex {
  margin-top: -7px !important;
}

/* Table cell elements font size */
.table ::ng-deep p{
  font-size: 12px;
}
.mat-icon {
  font-size: 18px;
}
::ng-deep .mat-checkbox .mat-checkbox-inner-container {
  width: 30px;
  height: 30px;
}
.column-title, .search-input-text{
  font-size: 12px!important;
}
.string-input-text, .autocomplete-input-text, .autocomplete-options, .no-data-text{
  font-size: 12px!important;
}

.table ::ng-deep .mdc-checkbox__background{
  height: 15px!important;
  width: 15px!important;
}

.search-input ::ng-deep mat-label{
  font-size: 12px!important;

}

::ng-deep .mat-icon-button, .mat-mdc-icon-button.mat-mdc-button-base {
padding: 0!important;
}

::ng-deep .mat-mdc-icon-button{
  width:35px !important;
  height:35px!important;
}
::ng-deep .mat-row {
  height: 35px; /* Set the desired height */
}

::ng-deep .mat-header-row {
  height: 35px; /* Adjust the header row height if needed */
}

tr{
  height: 35px; /* Adjust the header row height if needed */

}
/*
::ng-deep .mat-icon{
  margin-top:3%
} */

.iconbutton{
    display: flex;
    align-items: center;
    justify-content: center;

}

.mat-mdc-cell.mat-column-buttons{
  display: flex;
  justify-content: end;
}

/* Removes the borders from the left and the right of the array */
::ng-deep tr td:first-child {
  border-left: none !important;
}
::ng-deep  tr td:last-child {
  border-right: none!important;
border-top:none!important;
}


/* Change the height of rows when in edit mode */
.table ::ng-deep  .mat-mdc-form-field-infix{
  padding: 0!important;
}

.table ::ng-deep  .mat-mdc-form-field{
  height:35px!important;
}

/* Mat Options row height */
.table ::ng-deep  .mat-mdc-option, .mat-mdc-option{
  min-height:35px!important;
}

/* Align text in table cells when in edit mode */
.table ::ng-deep  .mat-mdc-input-element{
  margin-top:5px!important;
  padding-left: 10px;
}

/* Word wrap in grid cells */
td , th {
  white-space: normal;
  word-wrap: break-word;
  max-width: 600px;
}

::ng-deep .row-total{
  padding-left: 5% !important;
}

::ng-deep .mat-mdc-footer-row{
  margin-top: 3%!important;
  height:60px!important;
}

.display-footer{
  display: block;
}
.hide-footer{
  display: none;
}
