<div class="dn-grid-container">
  <mat-form-field *ngIf="canDisplaySearch" class="margin">
    <mat-label>Search</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Ex. Maria"
      #input
    />
  </mat-form-field>
  <article *ngIf="enableAddButton" class="add-button example-form">
    <button mat-button class="button-add-row" (click)="add($event)">Add</button>
  </article>
  <div class="mat-elevation-z8 table-container margin">
    <table #matTable mat-table [dataSource]="matDataSource" matSort>
      <ng-container
        *ngFor="let column of columns | visbleGridColumns"
        matColumnDef="{{ column.DataField }}"
      >
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ column.Caption }}
        </th>
        <td mat-cell *matCellDef="let row; let index">
          <!-- String Input -->
          <mat-form-field
            *ngIf="
              column.DataType == 'string' && row.IsEditable && !column.Lookup
            "
            style="width: 100%"
            class="white-input"
          >
            <input *ngIf="row.IsEditable"
              matInput
              type="text"
              [name]="column.Caption"
              [(ngModel)]="row[column.DataField]"
              matInput
            />
            <p *ngIf="!row.IsEditable">
              {{ row[column.DataField] }}
            </p>
          </mat-form-field>
          <!-- Number Input -->
          <mat-form-field
            *ngIf="
              column.DataType == 'number' && row.IsEditable && !column.Lookup
            "
            style="width: 100%"
            class="white-input"
          >
            <input
            *ngIf="row.IsEditable"
              matInput
              type="number"
              [name]="column.Caption"
              [(ngModel)]="row[column.DataField]"
              matInput
          /></mat-form-field>

          <mat-form-field
            *ngIf="row.IsEditable && isEditable && column.Lookup"
            class="white-input"
          >
            <input
            *ngIf="row.IsEditable"
              matInput
              type="text"
              [name]="column.Caption"
              [matAutocomplete]="auto"
              [ngModel]="getLookupName(column, row[column.DataField])"
            />
            <mat-autocomplete
              #auto="matAutocomplete"
              (optionSelected)="
                onDataLookupSelectionChanged(column, row, $event.option.value)
              "
              [displayWith]="displayFn"
            >
              <mat-option
                *ngFor="let data of column.Lookup.DataSource"
                [value]="data"
              >
                {{ data.Name }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <p *ngIf="!row.IsEditable && !column.Lookup">
            {{ row[column.DataField] }}
          </p>

          <p *ngIf="!row.IsEditable && column.Lookup">
            {{ getLookupName(column, row[column.DataField]) }}
          </p>

          <button
            *ngIf="column.DataType == 'buttons'"
            mat-icon-button
            class="iconbutton"
            color="primary"
            (click)="row.IsEditable ? save(row, index) : edit(row, index)"
          >
            <mat-icon *ngIf="!row.IsEditable">edit</mat-icon>
            <mat-icon *ngIf="row.IsEditable">save</mat-icon>
          </button>
          <button
            *ngIf="column.DataType == 'buttons'"
            mat-icon-button
            class="iconbutton"
            color="primary"
            (click)="
              row.IsEditable ? stopEditing(row, index) : deleteRow(row, index)
            "
          >
            <mat-icon *ngIf="!row.IsEditable">delete</mat-icon>
            <mat-icon *ngIf="row.IsEditable">close</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="matColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: matColumns"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data found</td>
      </tr>
    </table>
    <mat-paginator
      #paginator
      [length]="matDataSource.data.length"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page"
    >
    </mat-paginator>
  </div>
</div>
