<div class="flexbox">
  <img src="../assets/images/datanex_logo.png" width="205" height="75" />
</div>


<div class="margin">

<mat-form-field>
  <mat-label>Search</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Maria" #input>
</mat-form-field>

<article class="table-header">
  <button mat-button class="button-add-row" (click)="addCustomer()">Add Customer</button>
</article>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Name
      </th>
      <td mat-cell *matCellDef="let row"> {{row.Name}} </td>
    </ng-container>

    <ng-container matColumnDef="BAddress">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Address </th>
      <td mat-cell *matCellDef="let row"> {{row.BAddress}} </td>
    </ng-container>

    <ng-container matColumnDef="BRegion">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Region </th>
      <td mat-cell *matCellDef="let row"> {{row.BRegion}} </td>
    </ng-container>

    <ng-container matColumnDef="BPostalCode">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> PostalCode </th>
      <td mat-cell *matCellDef="let row"> {{row.BPostalCode}} </td>
    </ng-container>

    <ng-container matColumnDef="BCity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> City </th>
      <td mat-cell *matCellDef="let row"> {{row.BCity}} </td>
    </ng-container>

    <ng-container matColumnDef="BCountry">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Country </th>
      <td mat-cell *matCellDef="let row"> {{row.BCountry}} </td>
    </ng-container>

    <ng-container matColumnDef="BPhone1">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone1 </th>
      <td mat-cell *matCellDef="let row"> {{row.BPhone1}} </td>
    </ng-container>

    <ng-container matColumnDef="BPhone2">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone2 </th>
      <td mat-cell *matCellDef="let row"> {{row.BPhone2}} </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>  </th>
      <td mat-cell *matCellDef="let row"> <button mat-icon-button matTooltip="Click to Edit" class="iconbutton"
        color="primary" (click)="editCustomer(row)">
        <mat-icon>edit</mat-icon>
      </button>  </td>
    </ng-container>


<!--
    <ng-container matColumnDef="SAddress">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> SAddress </th>
      <td mat-cell *matCellDef="let row"> {{row.SAddress}} </td>
    </ng-container>

    <ng-container matColumnDef="SRegion">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> SRegion </th>
      <td mat-cell *matCellDef="let row"> {{row.SRegion}} </td>
    </ng-container>

    <ng-container matColumnDef="SPostalCode">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> SPostalCode </th>
      <td mat-cell *matCellDef="let row"> {{row.SPostalCode}} </td>
    </ng-container>

    <ng-container matColumnDef="SCity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> SCity </th>
      <td mat-cell *matCellDef="let row"> {{row.SCity}} </td>
    </ng-container>

    <ng-container matColumnDef="SCountry">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> SCountry </th>
      <td mat-cell *matCellDef="let row"> {{row.SCountry}} </td>
    </ng-container>

    <ng-container matColumnDef="SPhone1">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> SPhone1 </th>
      <td mat-cell *matCellDef="let row"> {{row.SPhone1}} </td>
    </ng-container>

    <ng-container matColumnDef="SPhone2">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> SPhone2 </th>
      <td mat-cell *matCellDef="let row"> {{row.SPhone2}} </td>
    </ng-container> -->

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>

  <mat-paginator #paginator [length]="100"
  [pageSize]="5"
  [pageSizeOptions]="[5, 10, 25, 100]"
  aria-label="Select page"
  >

</mat-paginator></div>
</div>
