<dn-toolbar
  [canSave]="false"
  [canInsert]="true"
  [isDialog]="false"
  [title]="warehouses_list_title_text"
  (onInsertBtnClicked)="onInsertBtnClicked($event)"
></dn-toolbar>
<div class="warehouses-list">

    <dn-grid  #warehousesGrid
    [dataSource]="warehousesDataSource"
    [columns]="warehousesColumns"
    [canDisplaySearch]="true"
    [enableAddButton]="false"
    (onRowSaving)="onWareHouseSaving($event)"
    (onRowDelete)="onWareHouseDelete($event)"
    (onRowStopEditing)="onWareHouseStopEditing($event)"
    >

    </dn-grid>
  </div>

