.date-box ::ng-deep  .mat-mdc-text-field-wrapper, .mdc-text-field{
  border-radius: 10px;
  }

  /* Fixes the datepicker icon position  */
.date-box ::ng-deep .mat-mdc-icon-button.mat-mdc-button-base {
    --mdc-icon-button-state-layer-size: unset;
    width: var(--mdc-icon-button-state-layer-size);
    height: var(--mdc-icon-button-state-layer-size);
    padding: 5px;
}
::ng-deep .mat-icon-button, .mat-mdc-icon-button.mat-mdc-button-base {
padding: 0!important;
}

::ng-deep .mat-mdc-icon-button{
  width:32px !important;
  height:32px!important;
}

