<dn-toolbar
  [canInsert]="true"
  [canRefresh]="true"
  [isDialog]="false"
  [title]="product_sizes_list_text"
  (onInsertBtnClicked)="onInsertClicked($event)"
  (onRefreshBtnClicked)="onRefreshClicked($event)"
></dn-toolbar>

<div class="margin">

  <dn-grid  #productSizesGrid
  [dataSource]="dataSource"
  [columns]="columns"
  [canDisplaySearch]="true"
  [enableAddButton]="false"
  [canDelete]="true"
  (onRowSaving)="onRowSaving($event)"
  (onRowDelete)="deleteProductSize($event)"
  >

  </dn-grid>
 </div>
