<div class="login">
  <div class="img">
    <img [src]="logoPath" width="205" height="75" />
  </div>    <form method="post">
    	<input type="text" name="u" placeholder="Username" [(ngModel)]="loginData.Username" required="required" />
        <input type="password" name="p" placeholder="Password" [(ngModel)]="loginData.Password"  required="required" />
        <button type="submit" class="btn btn-primary btn-block btn-large" (click)="onSubmitClicked($event)">Log in</button>
    </form>
</div>
