<div class="login">
  <div class="img">
    <img [src]="logoPath" width="205" height="75" />
  </div>    <form method="post">
    	<input type="text" name="u" placeholder="Username" [(ngModel)]="loginData.UserName" required="required" />
      <input type="password" name="p" placeholder="Password" [(ngModel)]="loginData.Password"  required="required" />
      <select name="companies" id="companies" [(ngModel)]="loginData.CompanyId">

        <option *ngFor="let company of companies" [value]="company.Id">{{company.Name}}</option>

      </select>      <button type="submit" class="btn btn-primary btn-block btn-large" (click)="onSubmitClicked($event)">Log in @if(isLoading){<i class="fa fa-spinner fa-spin"></i>}</button>
    </form>
</div>
