<div class="login">
  <div class="img">
    <img [src]="logoPath" width="205" height="75" />
  </div>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmitClicked($event)">
    <!-- Username -->
    <input
      [ngClass]="!isTouchedOrInvalid('userName') ? 'input-margin-bottom' : ''"
      type="text"
      name="userName"
      placeholder="Username"
      formControlName="userName"
    />
    <p
      *ngIf="isTouchedOrInvalid('userName')"
      [ngClass]="isTouchedOrInvalid('userName') ? 'input-margin-bottom' : ''"
    >
      <small
        style="color: red"
        *ngIf="loginForm.get('userName')!.hasError('required')"
        >Username is required</small
      >
    </p>

    <!-- Password -->
    <ng-container>
      <input
        [ngClass]="!isTouchedOrInvalid('password') ? 'input-margin-bottom' : ''"
        type="password"
        name="password"
        placeholder="Password"
        formControlName="password"
    /></ng-container>
    <p
      *ngIf="isTouchedOrInvalid('password')"
      [ngClass]="isTouchedOrInvalid('password') ? 'input-margin-bottom' : ''"
    >
      <small
        style="color: red"
        *ngIf="loginForm.get('password')!.hasError('required')"
        >Password is required</small
      >
    </p>

    <!-- Company Code -->
    <input
      [ngClass]="!isTouchedOrInvalid('companyCode') ? 'input-margin-bottom' : ''"
      type="text"
      name="companyCode"
      placeholder="Company Code"
      formControlName="companyCode"
    />
    <p
      *ngIf="isTouchedOrInvalid('companyCode')"
      [ngClass]="isTouchedOrInvalid('companyCode') ? 'input-margin-bottom' : ''"
    >
      <small
        style="color: red"
        *ngIf="loginForm.get('companyCode')!.hasError('required')"
        >Company Code is required</small
      >
    </p>

    <button type="submit" class="btn btn-primary btn-block btn-large">
      Log in @if(isLoading){<i class="fa fa-spinner fa-spin"></i>}
    </button>
    <div class="register-text">
      <p>Don't have an account?</p>
      <p><a href="register-form"> Register now</a></p>
    </div>
  </form>
</div>
