<div class="navbar">
  <div class="nav-menu-btn">
    <button class="menu-btn" (click)="onMenuBtnClicked()">
      <i class="fa fa-bars fa-2x"  aria-hidden="true"></i>
    </button><b class="menu-text"> Menu</b>
  </div>
  <div>
    <img src="../assets/images/datanex_logo.png" width="205" height="75" />
  </div>
  <div class="nav-profile">
    <b class="profile-text">Προφίλ</b>
  </div>
</div>
<mat-sidenav-container #sidenav class="menu-container">
  <mat-sidenav class="menu" #sidenav mode="side" [opened]="true">
    <p class="menu-title">Menu</p>
    <!-- <fa-icon [icon]="faArrowLeft"></fa-icon> -->
    <mat-list class="menu-list" *ngFor="let item of menuItems">
      <mat-list-item class="menu-items" (click)="onMenuItemClick(item)">
        {{ item.Name }}</mat-list-item
      >
    </mat-list>
    <p class="menu-title">Settings</p>
    <!-- <fa-icon [icon]="faArrowLeft"></fa-icon> -->
    <mat-list class="menu-list" *ngFor="let item of settingsItems">
      <mat-list-item class="menu-items" (click)="onSettingsItemClick(item)">
        {{ item.Name }}</mat-list-item
      >
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content class="main-content">
    <div><router-outlet></router-outlet></div>
  </mat-sidenav-content>
</mat-sidenav-container>
