<div *ngIf="isAuthenticated == false">
  <router-outlet></router-outlet>
</div>
<div *ngIf="isAuthenticated == true" class="screen">
  <div class="navbar">
    <div class="nav-menu-btn">
      <button class="menu-btn" (click)="onMenuBtnClicked()">
        <i class="fa fa-bars fa-2x" aria-hidden="true"></i></button
      ><b class="menu-text"> Menu</b>
    </div>
    <div>
      <img src="../assets/images/datanex_logo.png" width="205" height="75" />
    </div>
    <div class="nav-btns">
      <button class="user-btn" mat-button (click)="onUserBtnClicked($event)">
        <i class="fa fa-user fa-2x"></i>
      </button>
      <button class="exit-btn" mat-button (click)="onLogOutBtnClicked($event)">
        <i class="fa fa-power-off fa-2x"></i>
      </button>
    </div>
  </div>
  <div class="sidenav">
    <mat-sidenav-container #sidenav class="menu-container">
      <mat-sidenav class="menu" #sidenav mode="side" [opened]="true">
        <p [ngClass]="!isMenuOpen?'menu-title':'open-menu-title'"  (click)="onMenuCaretArrowClicked($event)">
          <fa-icon [icon]="faHome"></fa-icon> Menu
          <fa-icon [icon]="faMenuCaret"></fa-icon>
        </p>
        <div *ngIf="isMenuOpen">
          <mat-list *ngFor="let item of menuItems">
            <mat-list-item class="menu-items" (click)="onMenuItemClick(item)">
              {{ item.Name }}</mat-list-item
            >
          </mat-list>
        </div>

        <p  [ngClass]="!isSettingsMenuOpen?'menu-title':'open-menu-title'" (click)="onSettingsCaretArrowClicked($event)">
          <fa-icon [icon]="faGear"></fa-icon> Settings
          <fa-icon [icon]="faSettingsMenuCaret"></fa-icon>
        </p>
        <div *ngIf="isSettingsMenuOpen">
          <mat-list *ngFor="let item of settingsItems">
            <mat-list-item
               class="menu-items"
              (click)="onSettingsItemClick(item)"
            >
              {{ item.Name }}</mat-list-item
            >
          </mat-list>
        </div>
        <p [ngClass]="!isExtraMenuOpen?'menu-title':'open-menu-title'" (click)="onExtraMenuCaretArrowClicked($event)">
          <fa-icon [icon]="faFile"></fa-icon> Extra
          <fa-icon [icon]="faExtraMenuCaret"></fa-icon>
        </p>
        <div *ngIf="isExtraMenuOpen">
          <mat-list *ngFor="let item of extraItems">
            <mat-list-item class="menu-items" (click)="onExtraItemClick(item)">
              {{ item.Name }}</mat-list-item
            >
          </mat-list>
        </div>
      </mat-sidenav>
      <mat-sidenav-content class="main-content">
        <mat-tab-group
          class="tab-group"
          [color]="'primary'"
          [selectedIndex]="selectedTab.value"
          (selectedIndexChange)="selectedTab.setValue($event)"
          (selectedTabChange)="onTabChanged($event)"
        >
          <mat-tab
            [ngClass]="tab.Active ? 'active-tab' : ''"
            class="app-tab"
            *ngFor="let tab of tabs"
          >
            <div class="tab-header">
              <ng-template mat-tab-label>
                <div>{{ tab.Name }}</div>
                <button
                  [ngStyle]="{
                    'margin-left':
                      tab.Name.length < 7
                        ? '85%'
                        : tab.Name.length < 12
                        ? '40%'
                        : '20%'
                  }"
                  [ngClass]="tab.Active ? 'tab-close-button' : ''"
                  *ngIf="tab.Active"
                  (click)="onTabCloseClicked($event, tab)"
                >
                  <i class="fa fa-close"></i>
                </button>
              </ng-template>
            </div>
            <ng-container *ngComponentOutlet="tab.Component"></ng-container>
          </mat-tab>
        </mat-tab-group>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>
