.menu-container{
  height: 100%;
  width:100%;

}

.menu{
  width:15%;

}
.menu-list{
  padding-top: 0 !important;
  padding-bottom: 0 !important;

}
.menu-items:hover{
  background-color: lightgrey;
  cursor: pointer;
}
.menu-items{

}

.menu-title{
font-weight: bold;
margin-top:7%;
margin-bottom:12%;

text-align: center;
}

.main-content{
  width: 300% !important;;

}
