.menu-container{
  height:calc(100% - 1px);
  width:100%;
}

.menu{
  width:15%;
  border: none;
  /* background: linear-gradient(90deg, rgba(216,216,216,1) 0%, rgba(225,225,225,1) 58%, rgba(250,250,250,1) 100%)!important; */
  overflow-y: scroll
}


.menu-items:hover{
  background-color: lightgrey;
  cursor: pointer;
  border-radius: 30px;
}
.menu-items:focus{
  background-color: lightgrey;
}

.menu-items{
 height: auto!important; /*Sets the height of all menu items*/
 padding: 1%!important;

}
.menu-item{
  font-size: 11px;
}

.menu-title{
font-weight: bold;
margin-top:5%;
margin-bottom:10%;
font-size: small;
margin-left:5%;
}
.open-menu-title{
  font-weight: bold;
  margin-top:5%;
  margin-bottom:2%;
  font-size: small;
  margin-left:5%;

}
.menu-title:hover{
  cursor: pointer;
}
.main-content-with-opened-sidenav{
  width: 85% !important;;
}
.main-content-with-closed-sidenav{
  width: 100% !important;;
}

.inline{
display: inline-block;
margin-left: auto;
margin-right: auto;
}

.back{
  float:right;
}

.navbar, .menu{
  background-color: #fafafa
}

.screen{
  height:calc(100% - 1px);
}


.navbar{
  display:flex;
  justify-content: space-between;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-bottom: 1px grey solid; */
  align-items:center;
  height: fit-content;
}

.sidenav{
  height: calc(100% - 55px);
}


.nav-btns{
  display: inline-flex;
  margin-right: 2%;
}

.nav-menu-btn{
  margin-left:2%;
}

::ng-deep .mdc-tab__content{
  width:100%;

}
::ng-deep .mdc-tab__text-label{
  display: flex;
  width:100%;
  justify-content: space-between;
}

.menu-text{
  padding: 5px 7px;
  border-radius: 5px;
  margin-left:3px;
  font-size: 16px;
}

.menu-btn{
  padding: 4px 7px;
  border-radius: 5px;
  background-color: #0B6AA5;
  color:white;
}
.exit-btn{
  padding: 4px 7px;
  border-radius: 5px;
  background-color: #DE005D;
  color:white;
}
.user-btn{
  padding: 4px 7px;
  border-radius: 5px;
  background-color: #F38F1C;
  color:white;
  margin-right: 6%;
}
.menu-btn:hover{
  cursor: pointer;
  background-color: #0d3b84;
}
.exit-btn:hover{
  cursor: pointer;
  background-color: #BD004F;
}
.user-btn:hover{
  cursor: pointer;
  background-color: #D67E19;
}
.tab-group{
  margin-top: 1%;
  overflow: hidden;
  height: 94%;
}

::ng-deep .tab-header{
  padding-bottom: 5px!important;
  height: 4px;
}

.tab-close-button{
 padding:1px 2px;
 background-color: lightcoral;
 color:white;
 border-radius: 15% ;
}

.tab-close-button:hover{
  cursor: pointer;
  background-color: red;
}

::ng-deep .mat-mdc-tab-group.mat-mdc-tab-group-stretch-tabs>.mat-mdc-tab-header .mat-mdc-tab {
  flex-grow: 0!important;
  width: 14%!important;
  height:30px!important;

}

::ng-deep .mdc-tab-indicator--active, .mat-ripple.mat-mdc-tab-ripple{
  background: linear-gradient(90deg, rgba(235,233,233,1) 0%, rgba(241,241,241,1) 100%, rgba(211,212,212,1) 100%)!important;
  border-radius: 25px!important;
  overflow: hidden !important;
  text-align: center!important;
}

::ng-deep .mat-mdc-tab-labels> div{
  border-radius:25px!important;
  overflow: hidden !important;
  height:40px!important;

}

.menu ::ng-deep .mdc-list{
  padding: 1px 0;
  padding-left:10%;
}

.footer{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Smoother shadow */
  background-color: #fafafa;
  display: flex;
  justify-content: space-between;
  align-items:center;
  align-content: center;
  position: fixed;
  bottom: 0;
  width: inherit;
}
.footer > div{
  margin:2px 1% ;
}

.tab-header{
  font-size: 11px !important;
}

.display-tab-group{
  display: block;
}
.hide-tab-group{
  display: none;
}
