.menu-container{
  height:calc(100% - 1px);
  width:100%;
}

.menu{
  width:15%;
  border: none;
  background: linear-gradient(90deg, rgba(216,216,216,1) 0%, rgba(225,225,225,1) 58%, rgba(250,250,250,1) 100%)!important;

}

.menu-items:hover{
  background-color: lightgrey;
  cursor: pointer;
  border-radius: 30px;
}
.menu-items:focus{
  background-color: lightgrey;
}

.menu-title{
font-weight: bold;
margin-top:12%;
margin-bottom:5%;
font-size: medium;
margin-left:5%;
}

.main-content{
  width: auto !important;;
}

.inline{
display: inline-block;
margin-left: auto;
margin-right: auto;
}

.back{
  float:right;
}

.navbar, .menu{
  background-color: #fafafa
}

.screen{
  height:calc(100% - 1px);
}


.navbar{
  display:flex;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-bottom: 1px grey solid;
  align-items:center;
  height: fit-content;
}

.sidenav{
  height: calc(100% - 81px);
}

.nav-profile{
  margin-right:2%;
}

.nav-menu-btn{
  margin-left:2%;
}

.menu-text{
  padding: 5px 7px;
  border-radius: 5px;
  margin-left:3px;
  font-size: 18px;
}

.menu-btn,.exit-btn{
  padding: 4px 6px;
  border-radius: 5px;
  background-color: #0B6AA5;
  color:white;
}
.menu-btn:hover,.exit-btn:hover{
  cursor: pointer;
  background-color: #0d3b84;
}
.tab-group{
  margin-top: 1%;
}

::ng-deep .tab-header{
  border-bottom: 2px solid rgb(35, 21, 105)!important;
  padding-bottom: 5px!important;
}

.tab-close-button{
 padding:0;
 background-color: lightcoral;
 color:white;
 border-radius: 15% ;
}

.tab-close-button:hover{
  cursor: pointer;
  background-color: red;
}

::ng-deep .mat-mdc-tab-group.mat-mdc-tab-group-stretch-tabs>.mat-mdc-tab-header .mat-mdc-tab {
  flex-grow: 0!important;
  width: 14%!important;
}

::ng-deep .mdc-tab-indicator--active, .mat-ripple.mat-mdc-tab-ripple{
  background: linear-gradient(90deg, rgba(235,233,233,1) 0%, rgba(241,241,241,1) 100%, rgba(211,212,212,1) 100%)!important;
  border-radius: 25px!important;
  overflow: hidden !important;
  text-align: center!important;
}

::ng-deep .mat-mdc-tab-labels> div{
  border-radius:25px!important;
  overflow: hidden !important;

}


