<dn-toolbar
  [canInsert]="true"
  [isDialog]="false"
  [canRefresh]="true"
  [title]="product_brands_list_text"
  (onInsertBtnClicked)="onInsertClicked($event)"
  (onRefreshBtnClicked)="onRefreshClicked($event)"
></dn-toolbar>
<div class="margin">
  <dn-grid  #brandsGrid
  [dataSource]="dataSource |async"
  [columns]="columns"
  [canDisplaySearch]="true"
  [enableAddButton]="false"
  [canDelete]="true"
  (onRowSaving)="onRowSaving($event)"
  (onRowDelete)="onRowDelete($event)"
  (onRowStopEditing)="onRowStopEditing($event)"
  >

  </dn-grid>
</div>
