<dn-toolbar
  [canExit]="true"
  [canSave]="true"
  [canRefresh]="true"
  [isDialog]="false"
  [title]="document_type_edit_title_text"
  (onCloseBtnClicked)="onCloseBackClicked($event)"
  (onRefreshBtnClicked)="onRefreshClicked($event)"
  (onSaveBtnClicked)="onSaveClicked($event)"
></dn-toolbar>

<div class="margin">
  <div class="basic-info">
    <div class="code-name">
      <div class="code">
        <dn-textbox
          [(value)]="documentType.Code"
          label="Code"
          [width]="100"
        ></dn-textbox>
      </div>
      <div class="name">
        <dn-textbox
          [(value)]="documentType.Name"
          label="Name"
          [width]="80"
        ></dn-textbox>
      </div>
    </div>

    <div class="active">
      <dn-checkbox
        [(value)]="documentType.IsActive"
        label="Active"
      ></dn-checkbox>
    </div>

    <div class="abbreviation-description">
      <div class="abbreviation">
        <dn-textbox
          [(value)]="documentType.Abbreviation"
          label="Abbreviation"
          [width]="100"
        >
        </dn-textbox>
      </div>
      <div class="description">
        <dn-textbox
          [(value)]="documentType.Description"
          label="Description"
          [width]="80"
        ></dn-textbox>
      </div>
    </div>
    <div class="docType-group">
      <dn-selectbox
        [(value)]="documentType.DocumentTypeGroup"
        [dataSource]="docTypeGroupDataSource"
        valueExpr="Id"
        displayExpr="Name"
        label="Doc Type Group"
        [width]="100"

      >
      </dn-selectbox>
    </div>

    <div class="cancellation-doc-code">
      <dn-selectbox
      [(value)]="documentType.CancellationDocumentId"
      [dataSource]="docTypesDataSource|async"
      valueExpr="Id"
      displayExpr="Name"
      label="Cancellation Code"
      [width]="100"

      >

      </dn-selectbox>
    </div>
  </div>
  <mat-tab-group>
    <mat-tab label="Basic Info">
      <div class="tab basic-info-tab">
        <div class="flex-row basic-info-tab-a">
          <b>{{ uses_prices_text }}</b>
          <dn-selectbox
            class=""
            [dataSource]="priceTypesDataSource"
            valueExpr="Id"
            displayExpr="Name"
            [(value)]="documentType.UsesPrice"
            [width]="100"
          >
          </dn-selectbox>
        </div>
        <div class="basic-info-tab-c flex-row">
          <b>{{ affects_customer_balance_text }}</b>
          <dn-selectbox
            class=""
            [dataSource]="docTypeAffectBehaviorDataSource"
            valueExpr="Id"
            displayExpr="Name"
            [(value)]="documentType.PersonBalanceAffectBehavior"
            [width]="100"
          >
          </dn-selectbox>
        </div>
        @if(lotsEnabled){
          <div class="basic-info-tab-g flex-row">
          <b>{{ affects_lot_text }}</b>
          <dn-selectbox
            class=""
            [dataSource]="docTypeAffectBehaviorDataSource"
            valueExpr="Id"
            displayExpr="Name"
            [(value)]="documentType.LotAffectBehavior"
            [width]="100"
          >
          </dn-selectbox>
        </div>
      }
        <div class="basic-info-tab-e">
          <dn-checkbox
          [(value)]="documentType.AutoIncrementCodeEnabled"
          label="Uses Auto Increment Code"
          >

          </dn-checkbox>
        </div>
        <div class="basic-info-tab-i">
          <dn-checkbox
          [(value)]="documentType.ChecksWareHouseStockOnLineAdded"
          label="Checks Warehouse Stock"
          >

          </dn-checkbox>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Series">
      <div class="margin">
        <dn-grid
          class="margin"
          #documentTypesGrid
          [dataSource]="documentTypeSeriesDataSource"
          [columns]="documentTypeSeriesColumns"
          [canDisplaySearch]="false"
          [enableAddButton]="true"

        >
        </dn-grid>
      </div>

    </mat-tab>
    <mat-tab label="Transformations">
      <div class="margin">
        <dn-grid
          class="margin"
          #documentTypesGrid
          [dataSource]="documentTypesTransformationsDataSource"
          [columns]="documentTypesTransformationsColumns"
          [canDisplaySearch]="false"
          [enableAddButton]="true"

        >
        </dn-grid>
      </div>

    </mat-tab>
  </mat-tab-group>

</div>
