.margin{
  margin:1%;
}
.tab{
  margin:2% 1%
}

.flex-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right:3%;
  gap: 5rem;
  align-items: center;
}

.basic-info{
  margin-top: 1%;
  display: grid;
  grid-template-areas:
  "a a c d"
  "b b e e";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap:2 rem;
}

.code-name{
  grid-area: a;
  display: flex;
  gap:1rem;
  margin-bottom: 4%;

}
.abbreviation-description{
  grid-area: b;
  display: flex;
  gap:1rem;
  margin-bottom: 4%;

}
.active{
  grid-area: d;
  display: flex;
  justify-content: center;
  gap:1rem;
  margin-bottom: 4%;

}

.code, .abbreviation{
  flex:1
}
.name, .description{
  flex:3
}


.basic-info-tab{
  margin-top: 3%;
  display: grid;
  grid-template-areas:
  "a a c c"
  "e f g g"
  "i j k l";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 2fr 1fr 1fr;
  gap:2 rem;
}

.basic-info-tab-a{
  grid-area: a;
}
.basic-info-tab-c{
  grid-area: c;
}
.basic-info-tab-e{
  grid-area: e;
}
.basic-info-tab-g{
  grid-area: g;
}
.basic-info-tab-i{
  grid-area: i;
}

dn-textbox, dn-number-box, dn-date-box{
  margin-bottom: 4%;

}
