<dn-toolbar
  [canInsert]="true"
  [canRefresh]="true"
  [isDialog]="false"
  [title]="customer_list_text"
  (onInsertBtnClicked)="onInsertClicked($event)"
  (onRefreshBtnClicked)="onRefreshClicked($event)"
></dn-toolbar>

<div class="customer-list">
  <dn-grid  #customersGrid
  [dataSource]="dataSource |async"
  [columns]="columns"
  [canDisplaySearch]="true"
  [enableAddButton]="false"
  [disableLineEditing]="true"
  (onRowDelete)="onRowDelete($event)"
  (onRowEditing)="onRowEditing($event)"
  >
  </dn-grid>
</div>





