.margin{
  margin:2%;
}

.table-header {
  width: 90%;
  text-align: right;
  margin-bottom: 10px;
}

::ng-deep .green-snackbar .mdc-snackbar__surface {
  background-color:#1b9e1b!important;
  color: white;
}

.customer-list{
  margin:2%;
}
