::ng-deep .toolbar{
  background: #0B6AA5!important;
  color:white!important;
  height:auto!important
}

.dialog-toolbar{
  background: #0B6AA5!important;
  color:white!important;
  height:100%!important
}

.example-spacer {
  flex: 1 1 auto;
}


.button{
  color: white;
  padding:22px;
}
/* .button:hover{
  cursor: pointer!important;
} */

span{
  color:white;
}
.icons{
  color:white;
}
::ng-deep .button:hover{
cursor: pointer!important;;
}
