@if(visible){
<div class="toolbar-container">
  <mat-toolbar [ngClass]="isDialog ? 'dialog-toolbar' : 'toolbar'">
    <span class="toolbar-title">{{ title }}</span>
    <span class="example-spacer"></span>
    @if(displaySettings){
    <button class="button" mat-button (click)="onSettingsClicked($event)">
      <mat-icon class="icons">settings</mat-icon>
      <span class="button-title">Settings</span>
    </button>
    } @if(canPrint){
    <button class="button" mat-button (click)="onPrintClicked($event)">
      <mat-icon class="icons">print</mat-icon>
      <span class="button-title">Print</span>
    </button>
    } @if(canRefresh){
    <button class="button" mat-button (click)="onRefreshClicked($event)">
      <mat-icon class="icons">refresh</mat-icon>
      <span class="button-title">Refresh</span>
    </button>
    } @if(canDelete && !isDialog){
    <button class="button" mat-button (click)="onDeleteClicked($event)">
      <mat-icon class="icons">delete</mat-icon>
      <span class="button-title">Delete</span>
    </button>
    } @if(canTransform){
    <button class="button" mat-button (click)="onTransformedClicked($event)">
      <mat-icon class="icons">compare_arrows</mat-icon>
      <span class="button-title">Transform</span>
    </button>
    } @if(canInsert){
    <button class="button" mat-button (click)="onInsertClicked($event)">
      <mat-icon class="icons">add</mat-icon>
      <span class="button-title">Add</span>
    </button>
    } @if(canSave){
    <button class="button" mat-button (click)="onSaveClicked($event)">
      <mat-icon class="icons">save</mat-icon>
      <span class="button-title">Save</span>
    </button>
    } @if(canEdit){
    <button class="button" mat-button (click)="onEditClicked($event)">
      <mat-icon class="icons">edit</mat-icon>
      <span class="button-title">Edit</span>
    </button>
    } @if(canCancel){
    <button class="button" mat-button (click)="onCancelClicked($event)">
      <mat-icon class="icons">cancel</mat-icon>
      <span class="button-title">Cancel</span>
    </button>
    } @if(isDialog){
    <mat-dialog-actions>
      @if(canExit){
      <button class="button" mat-button [mat-dialog-close]="true">
        <mat-icon class="icons">close</mat-icon>
        <span class="button-title">Close</span>
      </button>
      }
    </mat-dialog-actions>
    } @if(!isDialog && canExit){
    <button class="button" mat-button (click)="onCloseClicked($event)">
      <mat-icon class="icons">exit_to_app</mat-icon>
      <span class="button-title">Close</span>
    </button>
    }
  </mat-toolbar>
</div>
}
