::ng-deep .toolbar{
  background: #0B6AA5!important;
  color:white!important;
  height:auto!important;
  border-radius: 10px;
}

.dialog-toolbar{
  background: #0B6AA5!important;
  color:white!important;
  height:100%!important;
  border-radius: 15px;
}

.example-spacer {
  flex: 1 1 auto;
}


.button{
  color: white;
}
/* .button:hover{
  cursor: pointer!important;
} */

span{
  color:white;
}
.icons{
  color:white;
  padding: 0;
  height: auto!important;
}
::ng-deep .button:hover{
cursor: pointer!important;;
}

.toolbar-title, .button-title, .icons{
  font-size: small!important
}

::ng-deep .toolbar-container{
  z-index: 1001!important;
}


