
<dn-toolbar
[canRefresh]="true"
[canInsert]="true"
[isDialog]="false"
[canExit]="isInPopup"
[title]="statuses_list_text"
(onCloseBtnClicked)="onClose()"
(onInsertBtnClicked)="onInsertClicked($event)"
(onRefreshBtnClicked)="onRefreshBtnClicked($event)"
></dn-toolbar>
<div class="margin">
  <dn-grid  #statusGrid
  [dataSource]="dataSource|async"
  [columns]="columns"
  [canDisplaySearch]="true"
  [enableAddButton]="false"
  [canDelete]="true"
  (onRowSaving)="onRowSaving($event)"
  (onRowDelete)="onRowDelete($event)"
  (onRowStopEditing)="onRowStopEditing($event)"
  >

  </dn-grid>
