.form{
  margin:1%;
}
.flex{
  display: flex;
}

.marginb-2{
  margin-bottom: 2%;
}

.avatar{
  width:200px;
  height: 150px;
  background-color: lightgray;
  clip-path: circle(45%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 3%;
}

.avatar:hover{
  background-color: gray;
  cursor: pointer;

}

.basic-info, .login-info, .personal-info, .contact-info, .notes{
  margin-top: 25px;
  width:100%
}
.margin-5{
  margin-right:5% ;
}
.margin-auto{
  margin-right:auto ;
}

.space-between{
  justify-content: space-between;
}
.space-around{
  justify-content: space-around;
}

.addresses{
  width:50%;
}

::ng-deep .green-snackbar .mdc-snackbar__surface {
  background-color:#1b9e1b!important;
  color: white;
}

 .username-container{
  margin-right: 5%;
 }

::ng-deep .change-password-container .mat-mdc-dialog-surface.mdc-dialog__surface   {
  border-radius: 4%!important;
}

.active-button{
  background-color:green;
  width:130px;
  height: 35px;

}

.basic-info-container, .login-info-container{
  flex-direction: column;
  width: 100%
}

.contact-info-container, .social-media-container, .notes-container{
  flex-direction: column
}

.button-container{
  display: flex;
  align-items: center;
}

.inactive-button{
  background-color:#DE005D;
  width:130px;
  height: 35px;
}

.inline{
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
}

.name, .birthday, .occupation, .button-container, .username, .address, .postal-code, .country, .city, .phone1, .phone2, .social-container, .facebook-url, .instagram-url, .linkedIn-url{
  margin-bottom: 2%;
}

.social-container{
  display: flex;
  align-items: center;
}

.social-icon{
  margin-right:10%
}
.facebook-url, .instagram-url, .linkedIn-url{
  width: 70%;
}

.user-tabs{
  margin-top: 1%;
  margin-left:1%
}

.triangle-icon{
  margin-right: 5px;
  margin-left: 10px;
}
.circle-x-icon{
  margin-right: 10px;
  color: #ff4081;
}
.circle-x-icon:hover{
cursor: pointer;
}

.password-set-reminder-container{
  background: lightyellow;
  display:flex;
  justify-content: space-between;
  overflow: hidden;
  max-height: 80px;
  padding: 5px;
  box-sizing: border-box;
  opacity:1
}

.password-set-reminder-container-hide {
  display:flex;
  justify-content: space-between;
  background: lightyellow;
  opacity: 0;
  padding: 0;
  transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out, padding 0.5s ease-in-out;
  max-height:0
}

.error-message{
  margin-left:3%
}

::ng-deep .kanban-container{
  margin:1% ;

}

.add-new-task{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    align-items: center;
  justify-content: space-between;
  padding: 1%;
}

.add-task-btn{
  background-color: #f1f1f1;;
}


.spacer {
  flex: 1 1 auto;
}

.list-content {
  display: flex;
  width: 100%;
  align-items: center;

}

.list-item-container, .new-item-container{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  height:fit-content
}

.list-container{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  height: 0px;
  overflow: hidden;
  transition: height 0.5s ease, opacity 0.5s ease;
  opacity: 0;
  max-height: 0;
}

.list-container.opened{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: height 0.5s ease, opacity 0.5s ease;
  height: fit-content;
  opacity:1;
  max-height: fit-content;
  max-height: 300px;
  overflow-y: auto;
}

.list-item-container:hover{
  background-color: lightgray;
}

.mat-mdc-button:hover{
  cursor: pointer;
}



  .btn {
    border-radius: 10px;
    background:grey;
    margin-right: 5px;
  }

  .filter-bar {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: relative;
  }

  .opened-icon-group {
    display: flex;
    z-index: 2;
    height: 65vh;

  }
  .closed-icon-group {
    z-index: 2;
    height: 65vh;

  }

  .filter-menu {
    overflow: hidden;
    margin-left: 8px;
    width: 0;
    opacity: 0;
    transition: width 0.5s ease;
    white-space: nowrap;
  }

  .filter-menu.opened {
    width: 40vh;
    transition: width   0.5s ease;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    opacity: 1;
  }

  .filter-btn, .search-btn, .add-btn{
    background: #f1f1f1;
    color:grey;
    border-radius: 10px;
    margin-bottom: 10px;
  }

  .btns-container{
    display: flex;
    flex-direction: column;
  }




  .filters-title{
    border-radius: 10px;
    padding-top: 5%;
    padding-bottom: 5%;
    background: #f1f1f1;
    color:grey;
  }

  .item-name{
      text-overflow: ellipsis;
      white-space:nowrap;
      width:70% ;
      overflow: hidden;
      font-size: 11px;
      font-weight: bold;

  }
