<dn-toolbar
  [canDelete]="true"
  [canExit]="true"
  [canSave]="true"
  [canRefresh]="userId ? true : false"
  [isDialog]="false"
  [title]="user_text"
  [entityId]="user.Id"
  (onCloseBtnClicked)="onCloseClicked($event)"
  (onDeleteBtnClicked)="onDeleteClicked($event)"
  (onSaveBtnClicked)="onSaveClicked($event)"
  (onRefreshBtnClicked)="onRefreshClicked($event)"
></dn-toolbar>
@if(isComponentReady){
<div
  [ngClass]="
    displayPasswordSetReminder
      ? 'password-set-reminder-container'
      : 'password-set-reminder-container-hide'
  "
>
  <div>
    <fa-icon class="triangle-icon" [icon]="faTriangleExclamation"></fa-icon>
    <span
      >User password is not set. Set pasword by clicking on the key next to
      username field</span
    >
  </div>
  <div>
    <fa-icon
      class="circle-x-icon"
      [icon]="faCircleXmark"
      (click)="onClosePasswordSetReminder($event)"
    ></fa-icon>
  </div>
</div>
}
<form [formGroup]="form">
  <mat-tab-group class="user-tabs">
    <mat-tab label="Info">
      <div class="form user-edit-container">
        <div class="flex marginb-2 width-100">
          <div class="flex basic-info-container">
            <div>
              <b>Basic Info</b>
            </div>
            <div class="flex">
              <div matTooltip="Add New Photo" class="avatar">
                <fa-icon [icon]="faCamera" size="3x"></fa-icon>
              </div>
              <div class="basic-info">
                <div>
                  <div class="flex">
                    <div
                      class="width-45 margin-auto"
                      [ngClass]="isTouchedOrInvalid(form, 'Name') ? '' : 'name'"
                    >
                      <dn-textbox
                        formControlName="Name"
                        label="Full Name"
                        name="name"
                        (onBlur)="onBlur($event, 'Name')"
                      ></dn-textbox>
                      <div
                        class="error-message"
                        *ngIf="isTouchedOrInvalid(form, 'Name')"
                      >
                        <p>
                          <small
                            style="color: red"
                            *ngIf="form.get('Name')!.hasError('required')"
                            >Field is required</small
                          >
                        </p>
                      </div>
                    </div>
                    <div class="margin-5 width-45 birthday">
                      <dn-date-box
                        formControlName="BirthDay"
                        label="Birthday"
                        name="birthday"
                      ></dn-date-box>
                    </div>
                  </div>

                  <div class="flex">
                    <div class="margin-5 width-45 occupation">
                      <dn-textbox
                        formControlName="Occupation"
                        label="Occupation"
                        [width]="100"
                        name="occupation"
                      ></dn-textbox>
                    </div>
                    <div class="button-container">
                      @if(user.IsActive){
                      <button
                        class="active-button"
                        mat-fab
                        extended
                        matTooltip="Click to deactivate user"
                        (click)="onUserActiveBtnClicked($event)"
                      >
                        <mat-icon>check_circle</mat-icon>
                        Active
                      </button>
                      } @if(!user.IsActive){
                      <button
                        class="inactive-button"
                        mat-fab
                        extended
                        matTooltip="Click to activate user"
                        (click)="onUserActiveBtnClicked($event)"
                      >
                        <mat-icon>check_circle_outline</mat-icon>

                        Inactive
                      </button>
                      }
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="flex" style="width: 100%">
            <div class="flex login-info-container">
              <div>
                <b>Login Info</b>
              </div>
              <div class="login-info">
                <div>
                  <div class="flex">
                    <div
                      class="width-45 margin-auto username-container"
                      [ngClass]="
                        isTouchedOrInvalid(form, 'UserName') ? '' : 'username'
                      "
                    >
                      <dn-textbox
                        formControlName="UserName"
                        label="Username"
                        name="username"
                        icon="key"
                        iconTooltip="Change Password"
                        (onIconClicked)="onKeyClicked($event)"
                        (onBlur)="onBlur($event, 'UserName')"
                      ></dn-textbox>
                      <div
                        class="error-message"
                        *ngIf="isTouchedOrInvalid(form, 'UserName')"
                      >
                        <p>
                          <small
                            style="color: red"
                            *ngIf="form.get('UserName')!.hasError('required')"
                            >Field is required</small
                          >
                        </p>
                      </div>
                    </div>
                    <!-- Maybe need to fix selectbox for reactive forms -->
                    <div class="width-45">
                      <dn-selectbox
                        label="User Role"
                        formControlName="UserRoleId"
                        [dataSource]="appRoles"
                        valueExpr="Id"
                        displayExpr="Name"
                        [width]="100"
                      >
                      </dn-selectbox>
                    </div>
                  </div>
                </div>
              </div>
              <div>
                <div class="margin-auto width-45">
                  <dn-textbox
                    formControlName="Email"
                    label="Email"
                    [width]="100"
                    name="email"
                  ></dn-textbox>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="flex space-between width-100 marginb-2">
          <div class="flex width-50 contact-info-container">
            <div>
              <b>Contact Info</b>
            </div>
            <div class="contact-info flex space-between">
              <div class="margin-5 width-45 address">
                <dn-textbox
                  formControlName="Address"
                  [width]="100"
                  label="Address"
                  name="address"
                ></dn-textbox>
              </div>

              <div class="margin-5 width-45 postal-code">
                <dn-textbox
                  formControlName="PostalCode"
                  label="Postal Code"
                  name="postalCode"
                ></dn-textbox>
              </div>
            </div>
            <div class="flex space-between">
              <div class="margin-5 width-45 city">
                <dn-textbox
                  formControlName="City"
                  [width]="100"
                  label="City"
                  name="city"
                ></dn-textbox>
              </div>
              <div class="margin-5 width-45 country">
                <dn-textbox
                  formControlName="Country"
                  label="Country"
                  name="country"
                ></dn-textbox>
              </div>
            </div>
            <div class="flex space-between">
              <div class="margin-5 width-45 phone1">
                <dn-textbox
                  formControlName="Phone1"
                  [width]="100"
                  label="Phone 1"
                  name="phone1"
                ></dn-textbox>
              </div>
              <div class="margin-5 width-45 phone2">
                <dn-textbox
                  formControlName="Phone2"
                  label="Phone 2"
                  name="phone2"
                ></dn-textbox>
              </div>
            </div>
          </div>
          <div class="flex width-50 social-media-container">
            <div>
              <b>Social Media</b>
            </div>
            <div class="personal-info flex space-between">
              <div class="social-container">
                <div class="social-icon">
                  <fa-icon [icon]="faFacebook" size="2x"></fa-icon>
                </div>
                <div>
                  <b>Facebook</b>
                </div>
              </div>
              <div class="margin-5 facebook-url">
                <dn-textbox
                  formControlName="FacebookUrl"
                  label="Facebook Url"
                  name="facebook"
                ></dn-textbox>
              </div>
            </div>

            <div class="flex space-between">
              <div class="social-container">
                <div class="social-icon">
                  <fa-icon [icon]="faInstagram" size="2x"></fa-icon>
                </div>
                <div>
                  <b>Instagram</b>
                </div>
              </div>
              <div class="margin-5 instagram-url">
                <dn-textbox
                  formControlName="InstagramUrl"
                  label="Instagram Url"
                  name="instagram"
                ></dn-textbox>
              </div>
            </div>
            <div class="flex space-between">
              <div class="social-container">
                <div class="social-icon">
                  <fa-icon [icon]="faLinkedin" size="2x"></fa-icon>
                </div>
                <div>
                  <b>LinkedIn</b>
                </div>
              </div>
              <div class="margin-5 linkedIn-url">
                <dn-textbox
                  formControlName="LinkedInUrl"
                  label="LinkedIn Url"
                  name="linkedIn"
                ></dn-textbox>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Permissions"></mat-tab>
    <mat-tab label="Tasks">
      <div class="kanban-container flex">
        <div
          style="
            width: 25%;
            margin-right: 2%;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            border-radius: 10px;
          "
        >
          <div class="flex add-new-task">
            <b style="margin-left: 2%">Add New Task</b>
            <button
              mat-button
              class="add-task-btn"
              (click)="onAddBtnClicked($event)"
            >
              <fa-icon [icon]="faAdd"></fa-icon>
            </button>
          </div>
          <mat-list>
            <mat-list-item class="list-item-container">
              <div class="list-content">
                <div>To do dsfsdf ds fd fs</div>
                <span class="spacer"></span>

                <button
                  mat-button
                  color="primary"
                  style="padding: 0; min-width: 35px"
                >
                  <fa-icon [icon]="faEdit"></fa-icon>
                </button>
                <button
                  mat-button
                  color="warn"
                  style="padding: 0; min-width: 35px"
                >
                  <fa-icon [icon]="faTrash"></fa-icon>
                </button>
              </div>
            </mat-list-item>
            <mat-list-item class="list-item-container">
              <div class="list-content">
                <div>To do dsfsdf ds fd fs</div>
                <span class="spacer"></span>

                <button
                  mat-button
                  color="primary"
                  style="padding: 0; min-width: 35px"
                >
                  <fa-icon [icon]="faEdit"></fa-icon>
                </button>
                <button
                  mat-button
                  color="warn"
                  style="padding: 0; min-width: 35px"
                >
                  <fa-icon [icon]="faTrash"></fa-icon>
                </button>
              </div>
            </mat-list-item>
            <mat-list-item class="list-item-container">
              <div class="list-content">
                <div>To do dsfsdf ds fd fs</div>
                <span class="spacer"></span>

                <button
                  mat-button
                  color="primary"
                  style="padding: 0; min-width: 35px"
                >
                  <fa-icon [icon]="faEdit"></fa-icon>
                </button>
                <button
                  mat-button
                  color="warn"
                  style="padding: 0; min-width: 35px"
                >
                  <fa-icon [icon]="faTrash"></fa-icon>
                </button>
              </div>
            </mat-list-item>
            <mat-list-item class="list-item-container">
              <div class="list-content">
                <div>To do dsfsdf ds fd fs</div>
                <span class="spacer"></span>

                <button
                  mat-button
                  color="primary"
                  style="padding: 0; min-width: 35px"
                >
                  <fa-icon [icon]="faEdit"></fa-icon>
                </button>
                <button
                  mat-button
                  color="warn"
                  style="padding: 0; min-width: 35px"
                >
                  <fa-icon [icon]="faTrash"></fa-icon>
                </button>
              </div>
            </mat-list-item>
            <mat-list-item class="list-item-container">
              <div class="list-content">
                <div>To do dsfsdf ds fd fs</div>
                <span class="spacer"></span>

                <button
                  mat-button
                  color="primary"
                  style="padding: 0; min-width: 35px"
                >
                  <fa-icon [icon]="faEdit"></fa-icon>
                </button>
                <button
                  mat-button
                  color="warn"
                  style="padding: 0; min-width: 35px"
                >
                  <fa-icon [icon]="faTrash"></fa-icon>
                </button>
              </div>
            </mat-list-item>
          </mat-list>
        </div>
        <dn-kanban
          [columns]="columns"
          [items]="items()"
          itemColumnId="StatusId"
          titleExpr="Name"
          itemDescriptionExpr="Description"
          (onItemClicked)="onTaskClicked($event)"
          (onItemEditBtnClicked)="onTaskEditBtnClicked($event)"
          (onItemDeleteBtnClicked)="onItemDeleteBtnClicked($event)"
          (onItemDrop)="onTaskDrop($event)"
          (onItemDelete)="onTaskDelete($event)"

        >
        </dn-kanban
        >
      </div>
    </mat-tab>
    <mat-tab label="Notes">
      <div class="flex width-100 notes-container">
        <div>
          <b>Notes</b>
        </div>
        <div class="notes">
          <mat-form-field class="width-100">
            <textarea
              matInput
              cdkTextareaAutosize
              name="notes"
              #autosize
              cdkAutosizeMinRows="5"
              formControlName="Notes"
            ></textarea>
          </mat-form-field>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</form>

<dn-popup
  *ngIf="isPopupVisible"
  [isPopupVisible]="isPopupVisible"
  [isFullScreen]="false"
  [hideOnOutsideClick]="false"
  (onHiding)="onHiding()"
  width="900px"
  height="400px"
>
  <app-task-edit (onClose)="onTaskPopupClose()" [taskId]="taskId()" >
  </app-task-edit>
</dn-popup>
