.margin{
  margin: 4% ;
}

::ng-deep .mat-mdc-dialog-surface.mdc-dialog__surface{
  border-radius: 3%!important;
}
.flex-row{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:10rem;
}
::ng-deep .green-snackbar .mdc-snackbar__surface {
  background-color:#1b9e1b!important;
  color: white;
}
