<div class="grid">
  <div class="grid-a" (click)="onProductDetailsClicked($event)">
    <fa-icon class="grid-a-icon" [icon]="faGear" size="4x"></fa-icon>
  </div>

  <div class="grid-b" (click)="onPendingOrdersClicked($event)">
    <fa-icon class="grid-b-icon" [icon]="faList" size="4x"></fa-icon>
  </div>

  <div class="grid-c" (click)="onSalesDocumentsClicked($event)">
    <fa-icon class="grid-c-icon" [icon]="faRectangleList" size="4x"></fa-icon>
  </div>

  <div class="grid-d">
    <p>Product Info</p>
  </div>

  <div class="grid-e">
    <p>Pending Orders</p>
  </div>

  <div class="grid-f">
    <p>Sales Documents</p>
  </div>
</div>
