.margin{
  margin: 2%;
}
.description{
  width: 100%;
}
.icon{
  width: 30%;
  margin-right: 5%;
}
.name{
  width: 60%;
  margin-left: 5%;
}

.inline{
  display: inline-block;
}

.width-100{
  width: 100%;
}
.jobtype{
  width: 30%;
  margin-right: 5%;

}
.datasource{
  width: 60%;
  margin-left: 5%;
}

.request-type{
  width: 30%;
  margin-right: 5%;
}

.endpoint{
  width: 60%;
  margin-left: 5%;
}
::ng-deep .green-snackbar .mdc-snackbar__surface {
  background-color:#1b9e1b!important;
  color: white;
}

.execute-step{
  text-align: center;
  margin-top: 20%;
}

::ng-deep  td,  ::ng-deep .mat-cell{
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  width:200px!important
}
.grid-container{
  width: 100%;
  overflow-x: auto;
}
.grid-container ::ng-deep .table-container{
  width:max-content;
}
