<dn-toolbar
  [canExit]="true"
  [canInsert]="true"
  [isDialog]="true"
  [title]="document_additionl_charges_text"
  (onCloseBtnClicked)="onCloseBtnClicked($event)"
  (onInsertBtnClicked)="onInsertBtnClicked($event)"
></dn-toolbar>
<div class="width-100">
  <div class="additional-charges">
    <dn-grid
    #documentAdditionalCharges
      [dataSource]="dataSource"
      [columns]="columns"
      [canDisplaySearch]="false"
      (onRowSaving)="onDocumentAdditionalChargeRowSaving($event)"
      (onRowStopEditing)="onDocumentAdditionalChargeRowStopEditing($event)"
      (onRowDelete)="onDocumentAdditionalChargeRowDeleting($event)"
    ></dn-grid>
  </div>
</div>
