<dn-toolbar
  [canInsert]="true"
  [canRefresh]="true"
  [isDialog]="false"
  [title]="products_list_text"
  (onInsertBtnClicked)="onInsertClicked($event)"
  (onRefreshBtnClicked)="onRefreshClicked($event)"
></dn-toolbar>

<div class="margin">

  <dn-grid  #productsGrid
  [dataSource]="dataSource|async"
  [columns]="columns"
  [canDisplaySearch]="true"
  [enableAddButton]="false"
  [canDelete]="true"
  (onRowEditing)="editProduct($event)"
  (onRowDelete)="deleteProduct($event)"
  >

  </dn-grid>
</div>
