<dn-toolbar
  [canInsert]="true"
  [canRefresh]="true"
  [canTransform]="true"
  [isDialog]="false"
  [title]="documentlist_text"
  (onInsertBtnClicked)="onInsertClicked($event)"
  (onRefreshBtnClicked)="onRefreshClicked($event)"
  (onTransformedBtnClicked)="onTransformedClicked($event)"
></dn-toolbar>
<div class="document-list">
  <dn-grid
    #documents
    [dataSource]="dataSource"
    [columns]="columns"
    [canDisplaySearch]="true"
    [canDelete]="false"
    [disableLineEditing]="true"
    (onRowEditing)="onRowEditing($event)"
    (onRowSelectionChanged)="onRowSelectionChanged($event)"
  >
  </dn-grid>

  <ng-template #rightClickMenu>
    <div class="right-click-menu" cdkMenu>
      <button
        class="right-click-menu-item"
        (click)="onTransformDocumentClicked($event, rowData)"
        cdkMenuItem
      >
        Transform Order
      </button>
      <button
        class="right-click-menu-item"
        (click)="onCancelDocumentClicked($event, rowData)"
        cdkMenuItem
      >
        Cancel Order
      </button>
    </div>
  </ng-template>
</div>

